[2018-09-10 17:10] pcowgill opened #21 "Create React Native components for Decentraland"

[2018-09-10 17:16] pcowgill opened #2 "Decide on a name for the NFT app"
Some initial ideas:

* Tasit Nifty
* Tasit Unique
* Tasit Collectible

Other suggestions welcome!

[2018-09-10 17:17] pcowgill opened #3 "Initial scaffolding of the NFT app"

[2018-09-27 16:18] pcowgill opened #5 "New README section that explains the value of the Tasit mobile apps with no technical terms"

[2018-11-15 23:20] pcowgill opened #7 "Add the Tasit SDK as a dependency"

[2018-11-30 18:57] pcowgill commented on #2
Another idea:

* Tasit One

[2018-11-30 18:57] pcowgill opened #9 "Add a few demo app screens using react-navigation"

[2018-11-30 19:11] pcowgill commented on #9
I only got through the first couple screens, and these are just wireframes rather than proper designs. But off to a good start!

I made this animation using Adobe XD, and I can share the individual screens upon request.

https://youtu.be/_vR1-a3CDgs

[2018-11-30 19:12] pcowgill commented on #9
Note: The intended flow is that the user would play with the app in question in read-only mode for a while and even potentially accrue some ETH or tokens **before** being prompted to go through this flow.

[2018-12-01 20:20] pcowgill opened #11 "Set up linting using prettier and the eslint plugins for React and React Native"

[2018-12-03 18:38] pcowgill opened #12 "Add a test to the test suite confirming that Account.create() works in React Native env"

[2018-12-03 18:39] pcowgill commented on #12
This makes sure that the shims we used with `ethers.js` over in the Tasit SDK made it through to here properly and are working in React Native now that there's this indirection in where they come from.

[2018-12-03 18:40] #7 closed

[2018-12-03 21:03] marcelomorgado opened #14 "Update the linting rules and update the components to adhere to the new rules"
https://github.com/tasitlabs/tasit/pull/13#issuecomment-443866741

How can we do about current [console.log](https://github.com/tasitlabs/tasit/blob/develop/demo/App.js#L13). Could we display wallet address on screen? Any better idea?

[2018-12-03 21:06] pcowgill commented on #14
Yeah, displaying it on the screen seems like a good plan!

[2018-12-03 21:16] marcelomorgado commented on #14
Also upgrade eslint rules config to use words instead numbers.

[2018-12-05 18:59] pcowgill commented on #11
Here is the associated PR for this https://github.com/tasitlabs/tasit/pull/13

[2018-12-05 19:07] pcowgill opened #15 "Autoformat all the files in the repo with the new linting settings"

[2018-12-05 20:01] #15 closed

[2018-12-05 20:02] #11 closed

[2018-12-05 20:53] pcowgill commented on #12
@marcelomorgado Thanks for this detailed info! That test case is what I was picturing.

I think in general having as many shallow tests as possible is considered good practice.

For most smaller components that change based on variable data, we can test those just by faking that data as input to a pure component. So we won't have too many tests where we need to manually call componentDidMount to t

[2018-12-05 20:54] pcowgill commented on #12
@marcelomorgado Given that info, which WIP will you plan on working on?

[2018-12-05 21:07] pcowgill commented on #14
@marcelomorgado I think this could be a good quick one to knock out soon

[2018-12-06 18:05] pcowgill commented on #3
@marcelomorgado is working on this in https://github.com/tasitlabs/tasit/issues/9

[2018-12-07 23:34] pcowgill opened #19 "Remaining small issues from PR 17"
I merged https://github.com/tasitlabs/tasit/pull/17, so I created this issue to track the remaining tiny conversation threads.

https://github.com/tasitlabs/tasit/pull/17#discussion_r239838634 (and https://github.com/tasitlabs/tasit/pull/17#discussion_r239904745)
https://github.com/tasitlabs/tasit/pull/17#discussion_r239904263
https://github.com/tasitlabs/tasit/pull/17#discussion_r239573789

[2018-12-07 23:37] pcowgill opened #20 "Add redux as a dep and decide between redux-thunk and redux-saga"

[2018-12-11 15:14] pcowgill commented on #21
This is underway in this issue https://github.com/tasitlabs/tasit/issues/9

[2018-12-11 15:14] #9 closed

[2018-12-13 17:45] pcowgill opened #22 "Add jest snapshots for the existing screens"

[2018-12-13 17:46] pcowgill opened #23 "Rewrite Land component to be pure function"

[2018-12-13 17:46] pcowgill opened #24 "Simulate fetch of land data by dispatching an action that gets hardcoded data for now"

[2018-12-17 20:14] pcowgill commented on #3
This issue is probably too unspecified to be achievable. I should rename it with a more concrete goal now that https://github.com/tasitlabs/tasit/issues/9 is complete.

[2018-12-17 20:43] #23 closed

[2018-12-18 03:37] pcowgill opened #27 "Add names in package.json's for commonly used files to avoid referencing via relative paths with lots of "..""

[2018-12-18 03:40] pcowgill opened #28 "Update the linting rules and update the components to adhere to the new rules"
https://github.com/tasitlabs/tasit/pull/26#discussion_r242397281
https://github.com/tasitlabs/tasit/pull/26#discussion_r242397420
https://github.com/tasitlabs/tasit/pull/26#discussion_r242397756

[2018-12-18 14:17] marcelomorgado commented on #28
Refs: Modify App.js to pass on linting warnings #14

[2018-12-18 17:14] pcowgill commented on #28
@marcelomorgado Good call, this is related enough to that existing issue that it belongs in there. I'll move these links over to that issue.

[2018-12-18 17:14] #28 closed

[2018-12-18 17:14] pcowgill commented on #14
A few other thoughts on the linting settings for this issue:
https://github.com/tasitlabs/tasit/pull/26#discussion_r242397281
https://github.com/tasitlabs/tasit/pull/26#discussion_r242397420
https://github.com/tasitlabs/tasit/pull/26#discussion_r242397756

[2018-12-18 17:18] marcelomorgado commented on #12
Snapshots

I’ve found three ways to do that:
1. Using react-test-renderer create
2. Using react-test-renderer/shallow
3. Using enzyme shallow

I’ve used Jest+Enzyme to generate snapshots. **Motivations:**
- The attached presentation uses it;
- react-test-renderer (renderer.create) is rendering component entirely creating a large snapshot (there is a lint rule to prevent large snapshots) and testin

[2018-12-18 17:23] marcelomorgado commented on #12
**Enzyme simulate press w/ async function**

I’ve faced the problem related to this issue: https://github.com/airbnb/enzyme/issues/1153

`wrapper.simulate(‘press’)` is working but it has been executed after test case (I’ve tried out using setTimeout to check it, but problem stills). Code sample:

**EthereumSignUpForm.test.js**
[code]
**EthereumSignUpForm.js**
[code]

**Output**
[code]

**Solution:

[2018-12-18 17:30] #19 closed

[2018-12-18 17:58] pcowgill commented on #12
A) Thanks for the context on the choice between react-test-renderer create, react-test-renderer shallow, and Enzyme shallow. I think you made the right call.
B) It sounds like Expo 32 will most likely have that React Native bug fix. That should hopefully be out in a couple weeks based on their past release rhythm. https://github.com/expo/expo/pull/3014
C) Interesting, so we need some way to await

[2018-12-18 18:03] marcelomorgado commented on #14
**- no-console**
There is one use of it now: https://github.com/tasitlabs/tasit/blob/aff489b2fb4d41cf15cd694840960bb49243708b/demo/App.js#L31
Can I comment that?

**- react-native/no-raw-text**
I've turned off this rule because I wanted that `<LargeText>` component behavior was as `<Text>`. Is be better with this will be turned on? If is the case, the large text component will be used that way:
[c

[2018-12-18 18:17] marcelomorgado commented on #12
A) :+1:
B) Got it. Cool.
C) I've tried some tricks, but it didn't work. Yes, with non-async function it works well, I've just tried out here:
[code]
Yes, I think that it's worth, how is the better way to do that? Creating a `tasit` new branch to reproduce all environment with the code above?

Thanks!

[2018-12-18 18:33] pcowgill opened #31 "Remove jest.preprocessor.js when the bug with jest on React Native v0.57 is resolved"
https://github.com/tasitlabs/tasit/issues/12#issuecomment-444184544

[2018-12-18 18:43] pcowgill commented on #12
C) I think let's merge https://github.com/tasitlabs/tasit/pull/29, I'll create an issue for swapping the test to using the button press, and yeah this can come in a new branch off of develop after I merge that PR.

What did you mean by "reproduce all environment"?

[2018-12-18 18:58] marcelomorgado commented on #12
Keep same setup, dependencies, versions.

[2018-12-18 19:31] pcowgill opened #32 "Use Storybook to show our presentational components"
This will help us to identify which components are general enough that they belong in a `tasit-components` dir at the top level of this repo (that is, outside of the demo app). That way they can be used in other apps in this repo or used by the `tasit-cli` when generating an app scaffold for developers using the `tasit-sdk`.

It will also be nice to link to the storybook from the developers page o

[2018-12-18 19:37] pcowgill opened #33 "Add PR template"

[2018-12-18 19:45] pcowgill opened #34 "Mock up any remaining screens for 0.1.0 of the NFT demo app"

[2018-12-18 19:52] pcowgill commented on #2
As opposed to giving it a generic name, I think it's better to pick a specific NFT and use that for the name: `Tasit Decentraland`

[2018-12-18 19:52] #2 closed

[2018-12-18 20:51] #27 closed

[2018-12-18 20:57] pcowgill opened #38 "Style the buttons"
Make them look like buttons with a colored fill as opposed to hyperlinks

![img_2911](https://user-images.githubusercontent.com/2731712/50182497-154a6f00-02d5-11e9-87f3-9c59fb0797e9.PNG)

[2018-12-18 20:58] pcowgill opened #39 "Change the header color throughout the app"
Let's set a header color that falls into the background a bit more. Let's still make sure the color comes from `constants/Colors.js`, of course.

![img_2908](https://user-images.githubusercontent.com/2731712/50182548-3ca13c00-02d5-11e9-861d-74ef6d56d563.PNG)

[2018-12-18 20:59] pcowgill opened #40 "Make room for the word username on the onboarding screen"
![img_2912](https://user-images.githubusercontent.com/2731712/50182626-75411580-02d5-11e9-8405-b50a589ccbb3.PNG)

[2018-12-18 22:24] pcowgill opened #42 "Slow back after clicking continue on EthereumSignUpForm"
EthereumSignUpForm-> Continue (Account.create call) is delaying react-navigation. After a click, going back to the previous screen is laggy

[2018-12-19 12:20] marcelomorgado commented on #38
Weird, here buttons are different:
![whatsapp image 2018-12-19 at 12 17 21 pm](https://user-images.githubusercontent.com/29674218/50219884-7f701c00-0388-11e9-9120-1f3d763cbd01.jpeg)

[2018-12-19 15:32] pcowgill opened #43 "Use enzyme button click for the the account creation test after updating the SDK"

[2018-12-19 15:36] #12 closed

[2018-12-19 15:39] pcowgill commented on #38
Haha I've got a GitHub nitpicky pro tip for the future: I don't know how easy this is on your machine, but now that screenshots are so big these days, I like to reduce the dimensions of the image to something smaller before posting on issues. Otherwise it's hard to read through an issue.

[2018-12-19 15:40] pcowgill commented on #38
Yeah, it looks like React Native takes the stance that the an Android-ish and iOS-ish button should look different by default to match the look of each OS.

https://docs.expo.io/versions/v31.0.0/react-native/button

Let's create a Tasit button component that wraps and styled React Native buttons.

[2018-12-19 15:41] pcowgill commented on #39
Oh, and if you don't already have Atom configured to highlight hex colors in the code with the color itself, I highly recommend it!

[2018-12-19 15:42] pcowgill commented on #40
Interesting. What device (or simulated device) is your screenshot on?

I'll try it again with the latest version of develop.

[2018-12-19 15:44] pcowgill opened #44 "Change the demo app start script to use expo start -c"
Thoughts on whether this is a good idea?

[2018-12-19 15:48] pcowgill commented on #14
**no-console**
I'd slightly prefer to change the config for the no-console rule to allow warn and error for now. https://eslint.org/docs/rules/no-console

In the long run, we can make a logging helper that wraps the console.log / console.warn / etc. functions and only uses them when a dev env var is set to true.

[2018-12-19 15:49] pcowgill commented on #14
**jest/no-large-snapshots**

Yes, let's change it to 40 or 50. How does that sound? Would the snapshots pass with that new rule?

[2018-12-19 15:51] pcowgill commented on #14
**react-native/no-raw-text**
[code]

I think that should solve the problem!

[2018-12-19 15:53] pcowgill commented on #14
For `react/prop-types`, if we don't want to fix it everywhere just yet after changing the rule, I'd rather have eslint single-or-multi-line disabling wherever we don't use prop-types instead of turning the rule off. That will give us a nice bit of code smell to remind us to fix this bit of tech debt in the future

[2018-12-19 15:57] pcowgill opened #45 "Style the cursor when picking a Tasit id"
![screenshot 2018-12-19 09 55 19](https://user-images.githubusercontent.com/2731712/50231457-783f1300-0374-11e9-9b42-6b0bf0d85cd7.png)

[2018-12-19 15:58] pcowgill commented on #40
Yep, it's working now!
![screenshot 2018-12-19 09 55 19](https://user-images.githubusercontent.com/2731712/50231550-ab81a200-0374-11e9-9993-3571b4b1a6d5.png)

[2018-12-19 15:58] #40 closed

[2018-12-19 16:05] pcowgill opened #46 "Decide on whether any subdirectories of presentational components are warranted"
I'm not sure if it's worth thinking about yet, but to prevent any new contributors from recreating existing components, we might want to group components of similar types into subdirs. For instance, all styled text components might live in a text subdir. I'm not sure if that's the right logical grouping, but that's just an example.

Storybook will help with this too https://github.com/tasitlabs/ta

[2018-12-19 16:49] pcowgill commented on #46
@marcelomorgado Another way we could break it down is a dir for stateful presentational components and a dir for pure, functional presentational components.

For instance, `EthereumSignUpForm` has state, so it could be nice to have a reminder that that file potentially should be tested with different boilerplate

[2018-12-19 17:48] marcelomorgado commented on #14
With 60 lines max, only one component doesn't pass (EthereumSignUpForm). That is nice because it is really big and should be a target of refactoring soon.

[2018-12-19 18:48] pcowgill commented on #14
That sounds perfect

[2018-12-19 22:01] pcowgill commented on #14
@marcelomorgado Was it intentional that you did `refs` rather than `closes` for this PR? I think we can close this one.

[2018-12-19 22:05] marcelomorgado commented on #14
No, it wasn't. Sorry.
Yes, I agree.

[2018-12-19 22:08] pcowgill commented on #14
No worries! I just wanted to confirm. Thanks!

[2018-12-19 22:08] #14 closed

[2018-12-29 00:06] pcowgill opened #49 "Add a README with details on how to run the demo app locally"

[2019-01-05 01:20] pcowgill commented on #49
Closed by https://github.com/tasitlabs/tasit/pull/50

[2019-01-05 01:20] #49 closed

[2019-01-07 20:26] pcowgill opened #51 "Upgrade demo app to Expo SDK 32"

[2019-01-09 19:17] pcowgill opened #54 "Design a flow for buying a parcel of Decentraland LAND"

[2019-01-11 18:17] nirmalb9 opened #55 "Contribution guide & testing instructions"
Add instructions regarding how to get started contributing to the project and testing for this repo.

[2019-01-14 17:07] pcowgill opened #56 "Configure CI"

[2019-01-14 22:59] pcowgill opened #59 "Add contract interaction to the demo app"
Using the features from the tasit-action package in the SDK

[2019-01-15 00:16] pcowgill commented on #56
This is done in https://github.com/tasitlabs/tasit/pull/58

[2019-01-15 00:16] #56 closed

[2019-01-15 00:19] marcelomorgado opened #60 "Solve test warning messages"
The test script is outputting some `prop type` warning messages.

Refs: https://github.com/tasitlabs/tasit/pull/58#issuecomment-454212853

[2019-01-17 15:52] pcowgill commented on #51
I'm closing this since it was resolved in PR #57

[2019-01-17 15:52] #51 closed

[2019-01-17 15:55] pcowgill commented on #42
I'm moving this to `0.2.0` because I think we can assume the account is set up already and hard-code it in `0.1.0`

[2019-01-17 15:56] pcowgill opened #61 "Design a flow for transferring a parcel of Decentraland LAND"

[2019-01-17 15:57] pcowgill commented on #21
@marcelomorgado I would argue that we can call the 0.1.0 version of this complete, so I'm closing this.

[2019-01-17 15:57] #21 closed

[2019-01-17 16:00] pcowgill commented on #21
These are the PRs it happened in:
https://github.com/tasitlabs/tasit/pull/17
https://github.com/tasitlabs/tasit/pull/25
https://github.com/tasitlabs/tasit/pull/26
https://github.com/tasitlabs/tasit/pull/29
https://github.com/tasitlabs/tasit/pull/30

[2019-01-18 00:13] pcowgill opened #62 "Use contract function via the Tasit SDK to buy land using the Decentraland marketplace contracts"

[2019-01-18 00:13] pcowgill opened #63 "Use contract function from Tasit SDK to transfer land"

[2019-01-18 00:14] pcowgill opened #64 "Deploy demo app to TestFlight"

[2019-01-18 19:42] marcelomorgado commented on #43
Actually, that isn't related to Expo SDK version.

**Problem:**
Enzyme.simulate('click') doesn't support `async handlers` (and doesn't will).
Refs: https://github.com/airbnb/enzyme/pull/867#issuecomment-290939569 and https://github.com/airbnb/enzyme/pull/898#issuecomment-294085827.

The Enzyme team recommends to call the `handlerFunction` directly for now.
It works well but exposes to test case an

[2019-01-18 19:51] marcelomorgado opened #65 "Tests: Update snapshots after updating the SDK"
There is a bug on the current version of Enzyme used by Expo SDK v32.0.0.
Snapshot/Shallow doesn’t recognize some react-native components (i.e., View, Image are saved as Component).

E.g.: Land.test.js.snap
[code]
This bug was fixed in the version 0.57.8 (December) of `react-native` (https://github.com/facebook/react-native/pull/22417).
The last version of Expo SDK is using the version v0.57.1 (Se

[2019-01-19 16:45] #38 closed

[2019-01-20 18:23] pcowgill opened #69 "Since name of the app is Tasit Decentraland, it's confusing for the word Decentraland to be the button"
![screenshot 2019-01-20 12 19 27](https://user-images.githubusercontent.com/2731712/51443414-24468780-1cae-11e9-9f4f-8f5e47f440f1.png)

[2019-01-22 14:24] marcelomorgado commented on #69
What we should display instead of 'Decentraland'?

[2019-01-22 16:12] marcelomorgado commented on #63
Use ENS to set the beneficiary address.
@pcowgill commented:
With ENS the main thing that’s important in the demo app is easy pasting of copied text, and client-side form validation that it’s a valid ENS address (and suggesting removing spaces, etc.)

[2019-01-22 16:46] pcowgill commented on #69
Decentraland should be in the same font, font size, and boldness as Tasit, or perhaps with different ones but still clearly text as opposed to a button.

Maybe there should be no button at all on this screen, and this shows as a second loading screen with a 1 second timeout

[2019-01-22 18:37] pcowgill commented on #3
Or better yet, I think it's fair to say that the initial scaffolding is complete now. We'll include any more specific issues separately.

[2019-01-22 18:37] #3 closed

[2019-01-24 02:52] pcowgill commented on #62
@marcelomorgado This issue would probably move the project forward a long way in terms of end-to-end completeness, because it would force us to [publish the latest version of the Tasit SDK](https://github.com/tasitlabs/TasitSDK/issues/145) and show how it could be used from within a demo app.

For that reason, I think it's a strong next choice for an issue to work on. But since I have the publishi

[2019-01-25 18:08] pcowgill opened #70 "Configure Expo release channels for demo app"

[2019-01-27 16:20] pcowgill commented on #62
﻿﻿﻿This is about to be merged, so that will unblock this PR https://github.com/tasitlabs/TasitSDK/issues/145

[2019-01-27 16:21] pcowgill commented on #32
@nirmalb9 This issue in particular would be a good one for someone interested in front-end / mobile

[2019-01-30 21:05] pcowgill commented on #62
@marcelomorgado Think this should be the next major issue to work on?

[2019-01-30 21:05] pcowgill commented on #62
If not, maybe just the "updating the demo app to use the latest SDK version" part could be split out into a separate issue that we tackle first

[2019-01-30 21:11] marcelomorgado commented on #62
I'm thinking to finish the issue: https://github.com/tasitlabs/TasitSDK/issues/91#issuecomment-457782599
With test cases that we'll use on the app and then go into on this one. Make sense?

[2019-01-30 23:30] pcowgill commented on #62
@marcelomorgado Sure, that sounds good!

[2019-02-01 01:55] pcowgill opened #73 "Add a flag for the CLI init command that lets users pick a name for their project"

[2019-02-01 01:57] pcowgill commented on #73
Or run it without any options and you will be prompted for the name and type.

[2019-02-01 02:01] pcowgill opened #74 "Write a first draft of the tasit-cli init script that scaffolds out an app"

[2019-02-05 05:42] pcowgill opened #78 "Pick a color palette for the Tasit logo"
(The Tasit SDK logo can remain gray-scale)

[2019-02-05 19:43] marcelomorgado commented on #54
I've done a draft using the tool Figma and put some questions.

[2019-02-05 21:12] pcowgill commented on #54
@marcelomorgado Awesome! I'll take a look

[2019-02-05 21:44] #69 closed

[2019-02-06 16:24] marcelomorgado opened #82 "How is the best way to handle with ABIs on demo app?"
Refs: https://github.com/tasitlabs/tasit/pull/79#discussion_r254316925
Extracted message:

Yes, maybe we can expose ABIs when Decentraland package will be available;

Using the Contract class with their own ABI isn't the user will do something like that?
Maybe expose some ABIs (20,721,etc)  as constants?

https://github.com/JoinColony/trufflepig

Maybe we have to think on both scenarios:
1) When u

[2019-02-06 18:03] marcelomorgado commented on #82
Sorry, again that adds to the milestone automatically. Is that belongs to v0.1.0?

[2019-02-06 21:30] pcowgill commented on #82
@marcelomorgado I think we can have this as a 0.2.0 task.

Also it seems that the new issues haven't been getting assigned to the Main project. Can you add them to that project in the future? Thanks!

[2019-02-06 21:45] marcelomorgado opened #83 "HomeScreen: shows something nice-looking if the connection to the blockchain can't be estabilished."
Refs: https://github.com/tasitlabs/tasit/pull/79#discussion_r254084433

[2019-02-06 21:49] marcelomorgado opened #84 "PR 79 Open threads"
Refs: https://github.com/tasitlabs/tasit/pull/79#issuecomment-461084152

* Rename components (Land vs. SellOrder): https://github.com/tasitlabs/tasit/pull/79#issuecomment-460845469
* Silent console.log & open `ethers.js` issue: https://github.com/tasitlabs/tasit/pull/79#issuecomment-460835222
* USD Removal: https://github.com/tasitlabs/tasit/pull/79#issuecomment-460836068

* Integration test boots

[2019-02-06 21:50] marcelomorgado commented on #84
`ethers.js` feedback issue: https://github.com/ethers-io/ethers.js/issues/416

[2019-02-06 21:51] pcowgill commented on #82
Ah okay, you're thinking we'll publish a `tasit-decentraland` contracts package? Or did you mean getting it from `tasit-contracts`?

I think if the user can get away with just using the default features of ERC721, they won't want to both adding an ABI.

In general we probably won't have the contracts the user wants included in the `TasitSDK` repo yet, so often users will want to supply their own A

[2019-02-06 21:56] pcowgill commented on #82
Yeah breaking it down by scenario is helpful, and those seem like two good ones (although I'm not sure how popular TrufflePig is yet).

I still think they shouldn't run the tests as the contract owner. They should switch to a different user. Other than that I agree.

This could be good for integration tests.

This would be what we use for testing internally and with alpha testers with TestFlight

[2019-02-06 22:10] marcelomorgado opened #86 "Integration tests bootstrap"
Create a test suite with some test cases that use local blockchain features.

[2019-02-06 23:07] marcelomorgado commented on #82
Hmm, I think that "package" wasn't a good word. What I've said is when we have Decentraland level of abstraction, for example: `new DecentralandMarketplace()` (or somethink like that), Make sense give as "utils constants" the addresses of the contracts envolved?

Sure. I'm wondering if there are others standard contracts that we'll not necessarly have an object like `NFT`, and maybe give these ABI

[2019-02-06 23:45] pcowgill commented on #82
Got it. Makes sense. Yeah the addresses as well as the ABI too.

Yes, I think so. I agree that exposing the class with the ABI already inside makes more sense.

Drizzle uses truffle on the project and [point to `build/contracts` dir](https://github.com/trufflesuite/drizzle#getting-started)
Embark do the same (But seems it doesn't use truffle).
Summarizing: Both has all stack on the same project.

[2019-02-07 17:19] pcowgill opened #87 "Display price and token name with different font, fontweight, etc."
I wonder whether we want to style the number and the word mana with different fonts, fontsizes, fontweights, etc.

[2019-02-07 17:19] pcowgill commented on #87
https://github.com/tasitlabs/tasit/pull/85#discussion_r254473423

[2019-02-07 17:43] #84 closed

[2019-02-07 18:32] marcelomorgado commented on #82
A)

B)

C)

D)

E)

F)

A and F)
Should I implement "draft" Objects for Decentraland Mana Land, Estate and Marketplace?

B)
:+1:

C)
:+1:

D)
I'll try to use the dev user hat to answer these. We'll have two kind of users:
1) We'll use only our TastSDK class
In this case, I'm picturing a scenario where the user already has their `react-native` and `truffle` projects, assuming I can see these steps:

[2019-02-07 18:38] marcelomorgado commented on #82
:+1:

:+1: Thanks

:+1:

:+1:

:+1:

Maybe as Medium post?

Great, should I create an issue for that?

[2019-02-07 19:22] marcelomorgado opened #88 "Use cross-platform UI components"
@pcowgill said recently:

Some modules:
https://github.com/react-native-training/react-native-elements
https://github.com/IjzerenHein/react-native-magic-move
https://github.com/GeekyAnts/NativeBase

Note: I'm not sure which milestone that belongs.

[2019-02-07 19:24] marcelomorgado commented on #60
I think that issue can be closed.

[2019-02-07 20:15] pcowgill commented on #88
0.2.0 seems like a reasonable milestone for this.

[2019-02-07 20:16] #60 closed

[2019-02-07 21:55] marcelomorgado commented on #86
Test cases suggestions:

- Catch contract outside class initialization error
When contract instantiation (`new Contract()`) is made outside of the component class it isn't reading `tasit-sdk` config properly (I think that could be because of babel transpiling).

- Catch `react-navigation` wrong screen name string
When changing a Screen name without updating `this.props.navigation.navigate(ScreenNa

[2019-02-08 15:23] pcowgill commented on #82
Should I implement "draft" Objects for Decentraland Mana Land, Estate and Marketplace?

Sure!

Points **1**, **2.1**, and **2.2** are broken down well and make sense.

It's important that you pointed out that a lot of the users of the SDK will be making front ends for their own contracts. That's a major difference from what we're using the SDK, in the short run (in the medium term we'll have our o

[2019-02-08 15:26] pcowgill commented on #82
Sure! I'll share a Google Doc with you that we can start drafting it in. And maybe at some point we move over to [`GitBook`](https://www.gitbook.com) when our docs get extensive enough and we want it there too.

Yes please, thanks!

[2019-02-08 16:49] pcowgill opened #89 "Animate the Tasit logo on the splash screen"

[2019-02-08 16:50] pcowgill commented on #88
Cross-platform UI components:

https://github.com/react-native-training/react-native-elements
https://github.com/GeekyAnts/NativeBase

Motion / animations:
https://github.com/IjzerenHein/react-native-magic-move
https://popmotion.io/pose/learn/native-get-started/

[2019-02-08 18:21] marcelomorgado commented on #42
Ohhh... I've just seen that is to work with an already set up account on `0.1.0`, I've worked on solving this issue. I'll continue "Buy a land" use case using a "from privateKey" Account.
Sorry!

Anyway, I'll share what I've found until now:

## Report - React-Native performance (Account.create())

First of all, I’ve implemented a screen changing after SignUp screen to get UI feedback of createAcc

[2019-02-09 00:12] mseijas commented on #78
@pcowgill I gave this a shot - and also took the liberty or reimagining the logo a bit using the current one as a starting pointing. Basically my thought process was incorporating an element that would relate it with the world of mobile apps (hence the squircle), and that would also make the T created by the negative space a bit more obvious (since it took me a few times to realize that that is wh

[2019-02-10 17:45] marcelomorgado commented on #43
Right

:+1:

Also, related to: https://github.com/tasitlabs/tasit/issues/42

[2019-02-10 18:59] pcowgill commented on #33
Resolved in https://github.com/tasitlabs/tasit/pull/90

[2019-02-10 18:59] #33 closed

[2019-02-11 11:26] marcelomorgado commented on #82
https://github.com/tasitlabs/TasitSDK/issues/199

:+1: Got it

For example:
`config`
[code]
Getting ABI somehow from `etherscan`, user can use this object "automagically" on code:
[code]
That "getAbiTool" can be used as solo npm script, on start script and/or on building.

[2019-02-11 11:27] marcelomorgado commented on #82
:+1:

https://github.com/tasitlabs/TasitSDK/issues/198

[2019-02-11 17:41] pcowgill opened #94 "Remove .tasitid.eth from the pick username screen"
The user shouldn't need to wonder what ENS is when doing this

[2019-02-11 18:17] marcelomorgado opened #95 "Add UI error/loading feedbacks"
Worth move to cross-platform UI components (https://github.com/tasitlabs/tasit/issues/88) before that?

[2019-02-11 19:40] pcowgill commented on #95
Yeah, I think making that change along with this one would make sense.

[2019-02-11 21:35] marcelomorgado commented on #20
@pcowgill commented:

[2019-02-11 23:10] pcowgill commented on #82
[code]

[code]

@marcelomorgado This sounds good!

[2019-02-11 23:20] pcowgill commented on #42
Sorry!

No worries! This is still very useful progress.

This is very surprising since the console.log happens before the account creation in the code snippet. Or do you mean a different console.log than the `button clicked` one? I think maybe there's always some delay for console.logs in React Native, so that's the explanation when something takes over the thread before it finishes?

This may be

[2019-02-11 23:36] pcowgill commented on #78
@mseijas Awesome, thanks so much!!

Of the two color palette options, I prefer the second. Our slides have been going in the purple-ish and green-ish direction. But slightly less primary/secondary-looking than these.

![screenshot 2019-02-11 17 34 42](https://user-images.githubusercontent.com/2731712/52601125-63867500-2e23-11e9-8d2e-7ccb9967a528.png)
![screenshot 2019-02-11 17 33 40](https://user-

[2019-02-11 23:56] mseijas commented on #78
@pcowgill Gotcha! In that case let me share these other ones that I had been playing with, but hadn't made it to my final picks. Maybe they're useful for inspiration.

Also, I was thinking the icon-shaped logo could be used everywhere - just to relate the brand to the world of mobile apps. And that in cases where a really small logo was needed (say a favicon) that we could just show the app icon p

[2019-02-12 02:19] mseijas commented on #32
@pcowgill I'm giving this a shot. Thoughts on changing the folder structure a bit so that we have one folder per component?

This way we can keep all of these together, say:

[code]

[2019-02-12 02:58] pcowgill commented on #32
@mseijas Thanks!! That works for me. @marcelomorgado any objections?

[2019-02-12 11:36] marcelomorgado opened #98 "Change components folder structure"
As @mseijas recommended on https://github.com/tasitlabs/tasit/issues/32#issuecomment-462585784
Is this change have to be done only for presentational components?

[2019-02-12 11:37] marcelomorgado commented on #32
No, no objections. I've created an issue for that: https://github.com/tasitlabs/tasit/issues/98
Is this change have to be done only for presentational components?

[2019-02-12 14:08] pcowgill commented on #32
Hmm, good question. Let's just do it with presentational components to start. We can always do it for the container components / screens in a later PR if we find that that's helpful too.

[2019-02-12 14:09] pcowgill commented on #98
Hmm, good question. Let's just do it with presentational components to start. We can always do it for the container components / screens in a later PR if we find that that's helpful too.

[2019-02-12 14:09] pcowgill commented on #32
I responded about presentational components vs. container components over in the other issue,

[2019-02-12 17:40] marcelomorgado commented on #74
@pcowgill commented:

https://github.com/yargs/yargs

[2019-02-12 17:52] marcelomorgado commented on #20
Seems that [redux docs](https://redux.js.org/advanced/async-actions) recommends keep `actions` as plain functions and use middleware (thunk/saga) to handle with fetching data. What do you think?
Refs: https://github.com/tasitlabs/tasit/pull/93#discussion_r255698391

[2019-02-12 17:53] marcelomorgado commented on #20
**TODO**
Move functions that interact with blockchain to actions / middlewares.

[2019-02-12 18:00] marcelomorgado opened #99 "Change app config to use testnet"
After `TasitSDK` integration tests are working on testnet https://github.com/tasitlabs/TasitSDK/issues/135

[2019-02-12 18:05] marcelomorgado commented on #59
Is this issue can be closed?

[2019-02-12 18:57] marcelomorgado commented on #94
The screen is showing:
`Cool. Let's start by picking your Tasit username.`
`[____].tasitid.eth`
`[Continue Button]`

What should be shown?
`Cool. Let's start creating an account.`
`[Continue Button]`
?

[2019-02-12 19:16] #44 closed

[2019-02-12 19:21] pcowgill commented on #94
I think literally just the current screen without `.tasitid.eth`. This complexity can be hidden until it’s needed. Or in a clickable info icon.

[2019-02-12 19:45] marcelomorgado commented on #62
Is this issue can be closed?

[2019-02-12 20:01] pcowgill commented on #64
@marcelomorgado If we can do this with hardcoded data, I think this is an even higher priority for demo purposes than running the Tasit SDk test suite against a testnet

I'm happy to help with this since I've deployed apps a lot before, and I have some experience (albeit less) with Fastlane

[2019-02-12 20:02] pcowgill commented on #59
@marcelomorgado Yep, I think so! I'll do that now. Thanks.

[2019-02-12 20:02] #59 closed

[2019-02-12 20:03] pcowgill commented on #62
@marcelomorgado Yep! Closing it now. Thanks! Great work.

[2019-02-12 20:03] #62 closed

[2019-02-12 20:04] marcelomorgado commented on #64
For Sure! I'll probably need some help.
A question: For now app is connecting to a local network IP running ganache.
Isn't to have app running using testnet before deploy it?

[2019-02-12 20:10] pcowgill commented on #64
Cool cool. I can set up the Apple Developer accounts and everything and send you an invite.

What I meant by hard-coding is that we could stub out responses from the "blockchain" just so we could at least show how the current UI looks. But only if that doesn't present too much additional hacking work that we'll have to undo right away.

[2019-02-12 20:10] pcowgill opened #101 "Share Decentraland app using Expo"
@marcelomorgado We can try this even before releasing the app through TestFlight

[2019-02-12 20:11] marcelomorgado commented on #64
Oh, I see. Sure! I can do it quickly.

[2019-02-12 20:42] #94 closed

[2019-02-12 20:44] pcowgill opened #102 "Move actions and reducers to a folder in demo app called store or redux"

[2019-02-12 21:17] marcelomorgado commented on #101
https://expo.io/@marcelo.morgado/tasit-demo

[2019-02-12 22:49] pcowgill commented on #101
Awesome, thanks!

Until this is done: https://expo.canny.io/feature-requests/p/better-team-collaboration-tools-or-workflow

Let’s create a user named tasit to publish the app under and share the password (outside of GitHuB)

[2019-02-12 22:51] pcowgill commented on #101
@marcelomorgado Can you share permissions to view the app you published with the the expo user `pcowgill`? Thanks! I don’t think I can view it in the app until that is done.

[2019-02-13 11:21] marcelomorgado commented on #101
Weird... The app is public, can you see the qrcode?
Has no option to share permissions. Are you sure that exists such an option?
Could you create the `tasit` user (since I have no tasit email account)?

[2019-02-13 14:48] pcowgill commented on #101
Maybe it’s that we didn’t build it for iOS?

Yep, I’ll create the user

[2019-02-13 14:48] pcowgill commented on #101
![aada11d6-64c4-4d06-8b87-b6fc75d48916](https://user-images.githubusercontent.com/2731712/52719885-25489d00-2f6c-11e9-932c-f1c3bed328ea.png)

[2019-02-13 14:52] marcelomorgado commented on #101
Yes, you are right. I'll build for ios now.

:+1:

[2019-02-13 15:04] pcowgill commented on #101
I opened the app using the button since I’m on iOS.

[2019-02-13 15:05] pcowgill commented on #101
![0bdbbe4d-a263-475d-bd9a-d4d696ce5f71](https://user-images.githubusercontent.com/2731712/52721059-73f73680-2f6e-11e9-81c3-e47e223658e2.png)

[2019-02-13 15:06] marcelomorgado commented on #101
Yeah, I haven't built the iOS version yet, the Expo is asking for an Apple ID. How to proceed?

[2019-02-13 15:09] pcowgill commented on #101
Ah okay, you can pause there for now and work on something else? I’ll set up an Apple id

[2019-02-13 15:10] marcelomorgado commented on #101
Sure. :+1:

[2019-02-14 15:33] pcowgill commented on #102
The thinking behind this is that once there are this many files in a directory, it can get a little overwhelming deciding where to start when first looking at the folder

<img width="994" alt="screenshot 2019-02-14 08 32 51" src="https://user-images.githubusercontent.com/2731712/52797480-37d9d980-3033-11e9-84a8-699deeee8f67.png">

[2019-02-17 16:06] marcelomorgado opened #106 "Update expo-cli"

[2019-02-17 16:13] #106 closed

[2019-02-21 17:27] pcowgill commented on #95
@marcelomorgado After a little more thought, I no longer think that this issue is that tightly coupled to cross-platform UI components. It's still useful to have an Expo warning or error even without cross-platform componenets in the meantime. Should we split the issues out?

[2019-02-21 17:28] pcowgill commented on #95
I think the highest priority errors to show in the app are "blockchain not found' and "no assets found, so the Decentraland script probably wasn't run"

[2019-02-21 17:29] pcowgill opened #109 "Add running populate estates script to the npm start script for the demo app"

[2019-02-22 01:48] pcowgill commented on #55
I'll work on this soon reusing some of the content from https://github.com/tasitlabs/TasitSDK/pull/209

[2019-02-22 21:05] pcowgill opened #110 "Change demo app config to point to localhost so it works on any local machine"

[2019-02-22 21:06] pcowgill opened #111 "Have the default decentraland app config in a build point to testnet but make the default for the local development using localhost"
I think we will probably want an option to run even the `decentraland` one with localhost too, just not as the default.

Once this is done: https://github.com/tasitlabs/TasitSDK/issues/135

Credit to @marcelomorgado for this suggestion

[2019-02-22 21:10] pcowgill commented on #95
@marcelomorgado Ah, we don't need to split the issues out, because there already is a separate issue for cross-platform UI components. So let's have this issue just be about UI errors using expo console.warn and console.error

[2019-02-23 17:41] #55 closed

[2019-02-26 18:05] pcowgill opened #115 "Load image assets progressively or show a placeholder while they're loading"

[2019-02-26 18:24] marcelomorgado opened #116 "Working with decentralized assets (images) (e.g.: ERC721 metadata)"
@pcowgill commented:

https://github.com/textileio/react-native-boilerplate
https://github.com/textileio/react-native-sdk
https://textile.io/

[2019-02-26 20:33] pcowgill opened #117 "Use the new expo crypto module"
Related to https://github.com/tasitlabs/TasitSDK/issues/24

[2019-02-26 20:45] pcowgill commented on #39
@marcelomorgado I think we can mark this as closed

[2019-02-26 20:48] pcowgill commented on #24
We are fetching land data with hardcoded data, but it's TBD whether we want to get it via dispatching an action using thunk or saga. We may or may not want to go that route for data fetching

[2019-02-26 21:16] marcelomorgado opened #118 "Add a note to the README about redux"

[2019-02-26 21:17] marcelomorgado opened #119 "Add an FAQ with info about React Native libs with native dependencies, using the SDK in an iOS (Swift) app, etc."

[2019-02-26 21:36] marcelomorgado commented on #39
Closing.

[2019-02-26 21:36] #39 closed

[2019-02-28 17:07] marcelomorgado opened #120 "Run linter on pre-commit hook"
See more: https://prettier.io/docs/en/precommit.html

[2019-03-11 12:05] marcelomorgado commented on #109
Note: Populate estates script is now (from https://github.com/tasitlabs/TasitSDK/pull/249) running together migrations scripts.

[2019-03-11 15:36] marcelomorgado commented on #109
Isn't clear to me how we'll start ganache process from `tasit` project because `tasit` isn't aware were `TasitSDK` folder is. Is the blockchain connection check enough?

[2019-03-11 18:06] pcowgill commented on #109
I guess we might want to call the command to start it the same way a project would want to call expo-cli commands from within an expo project. Maybe this means the ganache commands belong in tasit-cli and then we use ganache via `tasit-cli` in both the SDK tests and in the `tasit` apps when running in local dev mode? That may be trickier than I’m picturing though - I’ll give it more thought.

[2019-03-11 18:07] pcowgill commented on #109
Regardless, in the short term and medium term the connection check alone will serve us really well! Great work!

[2019-03-11 18:25] marcelomorgado commented on #109
I see, but will start ganache on starting for our apps only right? If dev will working on their ganache/truffle env I think that he will want to start the ganache for their own. Is it right?

Thanks! Should we rename the issue and move to a future milestone?

[2019-03-11 18:29] marcelomorgado commented on #102
The name of folder could be `actions` ?

[2019-03-11 18:55] marcelomorgado opened #125 "Updating Decentraland contract addresses"
Addresses changed since last changes on `TasitSDK` repo.

[2019-03-11 19:12] marcelomorgado commented on #95
Using `console.error` the error is shown that way on the app:

![Screenshot_20190311-190658](https://user-images.githubusercontent.com/29674218/54150825-587a3100-4431-11e9-81b6-da21b047a2c6.jpg)

Is it fine or should I change to `console.warn` to show only on the console?

[2019-03-11 20:42] marcelomorgado commented on #102
Nevermind, I think that `redux` is a better name.

[2019-03-11 21:30] pcowgill opened #129 "Get IPFS hash for an ERC721 with metadata token, and ping Textile so they can use that hash to fetch the image with their SDK"

[2019-03-12 16:20] pcowgill commented on #102
Okay, I agree. Thanks. Or maybe something like "state" if we want to keep it generic and not specific to redux in case we move some things over to context API.

[2019-03-12 16:21] #102 closed

[2019-03-12 16:23] pcowgill commented on #95
@marcelomorgado I think even `console.warn` shows up in yellow on the app less obtrusively but still in a way that's not acceptable for end users.

We can use errors this obtrusive only when the target audience is a developer who should know that something isn't configured correctly. If it's an error that we want to show an end users, yeah, we shouldn't use either console.warn or console.error but

[2019-03-12 17:01] #31 closed

[2019-03-12 17:02] #125 closed

[2019-03-12 17:08] pcowgill commented on #109
I guess if a dev is working with their own ganache / truffle env, if the team is big enough to specialize, the mobile dev still might forget to start ganache. But yeah that's a good point - for now let's just assume ganache should be started separately.

Sure, renaming the issue and moving to a future milestone sounds good.

[2019-03-12 17:18] #95 closed

[2019-03-12 21:14] marcelomorgado opened #130 "Update TasitSDK"

[2019-03-12 21:24] #130 closed

[2019-03-12 22:04] pcowgill opened #133 "Remove back button on list land for sale screen"
![Simulator Screen Shot - iPhone XR - 2019-03-12 at 17 02 36](https://user-images.githubusercontent.com/2731712/54239305-d2212600-44e8-11e9-99cc-308ce84b98cf.png)

[2019-03-13 14:42] marcelomorgado opened #134 "Some land images aren't loading"
![Simulator Screen Shot - iPhone XR - 2019-03-13 at 09 29 12](https://user-images.githubusercontent.com/29674218/54287786-3eaa2c80-459e-11e9-9fb9-4a32899d4719.png)

[2019-03-13 15:03] #110 closed

[2019-03-13 18:31] pcowgill commented on #129
@marcelomorgado The first step here for Decentraland would be seeing what is returned for [`tokenURI`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/2a37b09cf6a96a72660533da80895322bd0baa50/contracts/token/ERC721/ERC721Metadata.sol#L57) for both land and estates

[2019-03-13 18:34] pcowgill commented on #129
For land they use an npm package called erc821 which is published from the Decentraland repo [erc721](https://github.com/decentraland/erc721) (renamed from erc821).

https://github.com/decentraland/erc721/blob/master/contracts/ERC721Metadata.sol

It looks like the name of the function for land may be `tokenMetadata` rather than `tokenURI`

[2019-03-13 19:02] marcelomorgado commented on #129
As far as I know, metadata is used to store the name of the assets, but I'll look deep on this.

[2019-03-13 19:18] pcowgill commented on #129
@marcelomorgado It depends on the ERC721, but an arbitrary amount of information can be stored at the token URI if they follow JSON format - name of that particular token, URI for an image, etc.

[2019-03-13 19:20] marcelomorgado commented on #129
Oh, yes. I've said about Decentraland assets that I've seen until now.

[2019-03-13 19:21] pcowgill commented on #129
Ah ok, got it

[2019-03-15 15:20] pcowgill commented on #101
Sharing the demo app using Expo can only be done on Android with the new iOS rules. So I think we can mark this as complete.

Although maybe we should re-publish the demo app under the `tasit` expo username before closing this.

[2019-03-15 15:21] pcowgill commented on #129
This issue is a duplicate to some extent with this issue https://github.com/tasitlabs/tasit/issues/116

[2019-03-15 15:23] pcowgill commented on #64
@marcelomorgado FYI I'm working on this one

[2019-03-15 15:44] pcowgill commented on #64
@marcelomorgado Is this the branch to work off of?

https://github.com/tasitlabs/tasit/tree/feature/no-blockchain

Do we have a good workflow for getting the changes we like from the develop branch into that branch?

[2019-03-15 16:02] marcelomorgado opened #136 "Update starter error message (pretest -> prepare:blockchain)"

[2019-03-15 16:10] pcowgill commented on #101
Also we should republish it now that I renamed the slug to `io.tasit.decentraland` in https://github.com/tasitlabs/tasit/pull/135

[2019-03-15 16:14] marcelomorgado commented on #64
Yes, that branch has the decentraland app without blockchain (for demo purposes).
Should we keep this kind of demo/branch even with testnet working?

[2019-03-15 16:33] pcowgill commented on #64
@marcelomorgado Oh, I guess if testnet is stable enough we can just declare that branch obsolete

[2019-03-15 17:12] #136 closed

[2019-03-15 17:17] marcelomorgado opened #138 "Update contract addresses"

[2019-03-15 18:14] #138 closed

[2019-03-15 19:28] pcowgill opened #140 "Detect incorrect contract addresses and show a friendly error message"
Detect incorrect address by catching an exception like this:

`call exception (address="0x6191bc768c2339da9eab9e589fc8bf0b3ab80975", method="totalSupply()",`

[2019-03-15 19:29] pcowgill opened #141 "Fix missing push notification entitlement on iOS"
Missing Push Notification Entitlement - Your app appears to register with the Apple Push Notification service, but the app signature's entitlements do not include the "aps-environment" entitlement. If your app uses the Apple Push Notification service, make sure your App ID is enabled for Push Notification in the Provisioning Portal, and resubmit after signing your app with a Distribution provision

[2019-03-15 19:43] pcowgill opened #142 "Submit "Decentraland by Tasit" to Apple for beta app review"

[2019-03-15 19:44] pcowgill commented on #64
@marcelomorgado I just sent invites to both of us as internal testers through TestFlight, so I'm marking this as complete

[2019-03-15 19:44] #64 closed

[2019-03-15 19:47] pcowgill opened #143 "Land for sale not loading on iOS app distributed through TestFlight despite it working on simulator"
![IMG_3668](https://user-images.githubusercontent.com/2731712/54458118-2585b500-4731-11e9-9c31-c91991cda7c5.PNG)

[2019-03-15 19:49] pcowgill opened #144 "Decide whether to change name below app icon to just “Decentraland” since anything longer won’t fit"
That way at least the full name Decentraland will appear and the `...` will be gone.

![IMG_3669](https://user-images.githubusercontent.com/2731712/54458303-88774c00-4731-11e9-9308-22b1195ab9a2.PNG)

[2019-03-15 19:50] pcowgill commented on #143
@marcelomorgado Any ideas on a next step for debugging this?

[2019-03-15 19:51] pcowgill commented on #142
This issue is gated by https://github.com/tasitlabs/tasit/issues/143

[2019-03-15 19:52] pcowgill commented on #142
Going through beta app review will allow us to share the app with external beta testers through TestFlight without adding the users to our App Store Connect organization

[2019-03-15 19:59] pcowgill opened #145 "Pick primary and secondary app categories"
<img width="165" alt="Screenshot 2019-03-15 14 57 04" src="https://user-images.githubusercontent.com/2731712/54458781-d6d91a80-4732-11e9-8c92-b915e5cde8c2.png">
<img width="159" alt="Screenshot 2019-03-15 14 57 22" src="https://user-images.githubusercontent.com/2731712/54458792-dc366500-4732-11e9-964d-7ff7c5401804.png">

[2019-03-15 20:04] marcelomorgado commented on #143
Hmmm not really. There is some way to get access to some kind of debug log?

[2019-03-15 20:38] pcowgill opened #146 "Release app on Google Play alpha track"

[2019-03-16 15:19] pcowgill commented on #101
https://expo.io/@tasit/tasit-decentraland

[2019-03-16 15:20] pcowgill commented on #143
@marcelomorgado Yeah, I’ll look into our best options for that. There are a few things I have done in the past to debug production builds.

In the meantime, can you see if this loads for you and works on Android in the Expo app? https://expo.io/@tasit/tasit-decentraland

[2019-03-16 17:17] marcelomorgado commented on #143
Not working here.

[2019-03-16 17:55] pcowgill commented on #143
In that case, I wonder if it has something to do with the production settings / or config variables when I published the js assets. Feel free to try publishing with the `tasit` Expo credentials from your machine to see if that changes anything.

[2019-03-17 11:34] marcelomorgado commented on #134
I've queried a range of estate ids using the URL `https://api.decentraland.org/v1/estates/ID/map.png`:
Estate IDs with image: 1,2,3,6,8
Estate IDs without image: 4,5,7,9,10

[2019-03-17 14:59] marcelomorgado opened #147 "Use term Asset instead Land for generalization"
We are using `Land` as a generic term for Decentraland assets (Estate / Parcel). Will be better if we changed it to `Asset`?

i.e.:
`ListLandForSale` => `ListAssetsForSale`
`BuyLand` => `BuyAsset`
etc...

[2019-03-18 11:19] marcelomorgado commented on #143
Sorry, but which app we should publish right now? From `develop` branch or from `no-blockchain` branch?

[2019-03-18 15:35] pcowgill commented on #143
I was publishing from `develop` based on our discussion here https://github.com/tasitlabs/tasit/issues/64#issuecomment-473355679

[2019-03-18 15:43] pcowgill commented on #147
That works for me!

[2019-03-18 22:53] pcowgill opened #150 "Show placeholder land / estates with grey boxes and a placeholder name while the real ones load"

[2019-03-19 11:04] marcelomorgado opened #151 "Using events instead of `waitForNonceToUpdate`"
UX should take advantage of events from contracts and actions.

[2019-03-19 15:08] pcowgill commented on #134
Ah ok, good to know. So we'll avoid using the ones without images I guess?

[2019-03-19 16:09] marcelomorgado commented on #134
Yes, I'll refine the `populateDecentralandContracts` to avoid those without images.

[2019-03-19 17:40] marcelomorgado opened #153 "Add a screen for showing `my purchased land / estates`"
For now, after a purchase, the asset is being hidden from the main list (assets for sale). Improve the UX creating a screen that shows all purchased assets.

[2019-03-19 17:47] marcelomorgado opened #154 "Infinite scrolling on list of assets for sale"
Only show the first 10 in the app until the user scrolls further.

[2019-03-19 17:47] marcelomorgado opened #155 "Assets for sale list: Show only first 10 assets for sale"
It's a temporary solution.
See more: https://github.com/tasitlabs/tasit/issues/154

[2019-03-19 17:56] marcelomorgado opened #156 "Prepare ropsten funds and data"
We should have 100 assets for sale (parcels + estates)
We should allow 200 ephemeral uses (each one with 0.05 ethers and 10 Mana tokens)

Said that:
Fund [Gnosis Safe wallet](https://ropsten.etherscan.io/address/0xdF1108C839686f28b5010a1784a07262aA447722) with at least 10 ethers and 2000 Mana tokens.
The [Gnosis safe wallet owner](https://ropsten.etherscan.io/address/0x82ec22bdb87aadceab9afeec87f1

[2019-03-19 18:05] pcowgill commented on #156
Maybe each asset should cost a lot more than 10 MANA tokens to match real prices on mainnet. Maybe more like 10,000 MANA each?

[2019-03-19 18:27] marcelomorgado commented on #156
I've funded Gnosis Safe wallet with a billion mana tokens ([tx](https://ropsten.etherscan.io/tx/0xd08ce83cc65efc8f6168a198899735d99eecd086652fab97c92e7be2da7207a7))
I can create prices using this rule: [a rand number between 10 to 100] * 1000 MANA.
In the worst case, it can allow 10k purchases. What do you think?

[2019-03-19 18:33] pcowgill commented on #156
Sounds good!

[2019-03-19 18:45] pcowgill commented on #134
Perfect, thanks

[2019-03-19 18:51] marcelomorgado commented on #156
[Gnosis safe wallet](https://ropsten.etherscan.io/address/0xdF1108C839686f28b5010a1784a07262aA447722) is now with 11.8 ethers.
[Gnosis safe wallet owner/signer](https://ropsten.etherscan.io/address/0x82ec22bdb87aadceab9afeec87f17dbbd5e0a1c1) is now with 2 ethers.

[2019-03-19 18:59] #99 closed

[2019-03-19 19:22] marcelomorgado commented on #156
Extracted the remaining task to https://github.com/tasitlabs/TasitSDK/issues/285 since that will change a script of the `TasitSDK` repo.
I think that could close this one.

[2019-03-19 19:30] pcowgill commented on #156
I think that could close this one.

Yep. Great work!

[2019-03-19 19:30] #156 closed

[2019-03-19 19:39] marcelomorgado opened #157 "Update TasitSDK to 0.0.14"

[2019-03-19 19:44] #157 closed

[2019-03-19 20:05] marcelomorgado opened #159 "UX: Use a proper component to show messages to user"
For now, we are using `YellowBox` warnings and that should be improved.

Note: Errors from blockchain events and from thrown errors should use this solution.

[2019-03-19 20:06] marcelomorgado commented on #159
Further note: Contract reversions from reading call functions are thrown instead of trigger an event.

[2019-03-19 21:11] marcelomorgado opened #160 "UX improvement: Don't allow user to buy until their account is prepared"
Immediately after the account creation the user is redirected to the `BuyLandScreen` but the fund and approve transactions are waiting. The `buy` button should be disallowed until all that setup is finished.

[2019-03-19 22:23] pcowgill commented on #160
We can find some kind of subtle UX to show that it's still processing but they can continue to browse, like a small grey loading bar at the top or bottom

[2019-03-19 22:24] pcowgill opened #162 "Add a view that shows current amount of funds in the account"

[2019-03-20 14:28] #155 closed

[2019-03-20 15:54] pcowgill opened #165 "Consider displaying land using cards from React Native Elements"
https://react-native-training.github.io/react-native-elements/docs/card.html

[2019-03-20 15:55] pcowgill commented on #150
Image from React Native Elements could help with this https://react-native-training.github.io/react-native-elements/docs/image.html

[2019-03-20 16:05] pcowgill commented on #165
(Or the NativeBase equivalent)

[2019-03-20 16:16] marcelomorgado commented on #151
@pcowgill commented:

Refs: https://github.com/tasitlabs/tasit/pull/163#discussion_r267405172

[2019-03-20 16:20] pcowgill opened #166 "Get rid of loading screen since it's serving a duplicate role with the Expo splash screen"
Modify the splash screen to have the name of the app instead

[2019-03-20 16:20] pcowgill commented on #166
@marcelomorgado This seems like an easy win that would improve the app a lot for demo purposes. Thoughts?

[2019-03-20 16:29] pcowgill opened #167 "Hitting back from the list assets screen leads to loading duplicate assets"
Note that hiding the back button https://github.com/tasitlabs/tasit/issues/133 would possibly be way a simpler way to avoid this bug

[2019-03-20 16:29] pcowgill commented on #167
![Simulator Screen Shot - iPhone XR - 2019-03-20 at 11 27 36](https://user-images.githubusercontent.com/2731712/54701646-6439b780-4b03-11e9-9523-64cbedcc7ac6.png)

[2019-03-20 17:36] #160 closed

[2019-03-20 17:36] #159 closed

[2019-03-20 17:41] pcowgill opened #168 "Text entry not working on iOS for adding a username when you click the username input field"

[2019-03-20 17:43] pcowgill opened #169 "Insufficient funds error transiently shows up while account is being generated"
![Screenshot 2019-03-20 12 40 19](https://user-images.githubusercontent.com/2731712/54706786-b8e23000-4b0d-11e9-9990-087bca74761f.png)

[2019-03-20 17:44] pcowgill commented on #168
![Simulator Screen Shot - iPhone XR - 2019-03-20 at 12 39 42](https://user-images.githubusercontent.com/2731712/54706890-f6df5400-4b0d-11e9-89b1-81d005a253f5.png)

[2019-03-20 18:10] marcelomorgado opened #170 "Updating version on app.json"

[2019-03-20 18:12] marcelomorgado commented on #169
I'm almost sure that it happened because you used a version of the code with the old private key of the Gnosis Safe wallet owner.

[2019-03-20 18:22] #144 closed

[2019-03-20 18:22] #170 closed

[2019-03-20 18:38] pcowgill commented on #169
@marcelomorgado Could be. But it went away after a bit and there were sufficient funds, I think. All I would need to do is run the latest version of develop, right? Or are there any cleaning steps I would need to do to purge the app of that old private key?

[2019-03-20 18:40] pcowgill opened #172 "Create an app publishing / building script that autoincrements version number"

[2019-03-20 18:44] marcelomorgado commented on #169
Just the last `develop` version. I'll make more tests here but until now since `0.0.2` that I'm using, the only problem that I've identified is that about `bad instruction`.

[2019-03-20 18:51] pcowgill commented on #169
@marcelomorgado Okay I'll try it again now. When's the last time you deleted the app and reinstalled it and created a new account by saying `Yep`?

[2019-03-20 18:52] marcelomorgado commented on #169
About 15min ago

[2019-03-20 18:56] pcowgill commented on #168
@marcelomorgado Never mind about the keyboard not showing up. `Keyboard > Toggle Software Keyboard` addressed that part. But I'm still unable to enter text either using the hardware keyboard (which I have enabled with `Keyboard > Connect Hardware Keyboard`) or by clicking on the software keyboard on the simulator

[2019-03-20 18:57] pcowgill commented on #169
@marcelomorgado I was able to reproduce it again on iOS with the latest version of develop. Here's the full screenshot.

![Simulator Screen Shot - iPhone XR - 2019-03-20 at 13 56 44](https://user-images.githubusercontent.com/2731712/54711517-1bd8c480-4b18-11e9-99e2-e0735d62ac46.png)

I'll try it on the Android emulator to see if the results are different.

[2019-03-20 19:00] marcelomorgado commented on #169
OK, thanks :+1:

[2019-03-20 19:02] pcowgill commented on #168
The exact behavior was easier to see on the Android emulator I was using since it runs a little more slowly on my machine.

https://youtu.be/7FwycXgI8Q0

[2019-03-20 19:05] pcowgill commented on #169
@marcelomorgado I also was able to reproduce it on Android on the Genymotion emulator for a Google Pixel 2 on my machine

![Screenshot 2019-03-20 14 03 37](https://user-images.githubusercontent.com/2731712/54711998-352e4080-4b19-11e9-8df9-ba49560b027e.png)

It's possible it relates to me not being able to enter a username https://github.com/tasitlabs/tasit/issues/168, but that seems unlikely

[2019-03-20 19:13] marcelomorgado commented on #169
I'm working on the tests right now

[2019-03-20 19:19] pcowgill opened #173 "Show ephemeral account address and/or link to Etherscan transactions from within app"

[2019-03-20 19:21] pcowgill commented on #169
@marcelomorgado FYI if I dismiss the error and then wait for the `WAITING FOR ACCOUNT...` button to change to a `BUY` button, it does appear to eventually work and have enough funds. So I think the code that triggers the alert is just checking if there are enough funds too early

[2019-03-20 19:22] pcowgill commented on #173
This is mostly for trying things out while testing the app and less of a "production-ready" feature

[2019-03-20 19:35] marcelomorgado commented on #169
Fixed and explained on the PR #174

[2019-03-20 19:36] marcelomorgado opened #175 "Update app version to 0.0.3"

[2019-03-20 19:38] #169 closed

[2019-03-20 19:46] #175 closed

[2019-03-20 19:49] pcowgill commented on #144
![IMG_3683](https://user-images.githubusercontent.com/2731712/54714628-60b42980-4b1f-11e9-88ff-8fc8cef8ebaa.PNG)

Yeah, it looks better now

[2019-03-20 19:51] pcowgill commented on #143
@marcelomorgado Niiice, it's workin now as of build 0.0.2!

![IMG_3684](https://user-images.githubusercontent.com/2731712/54714695-8f320480-4b1f-11e9-8216-1972dddb7000.PNG)

[2019-03-20 19:51] #143 closed

[2019-03-20 20:12] pcowgill commented on #168
@marcelomorgado It's working now via the software and hardware keyboards on the iOS simulator as of https://github.com/tasitlabs/tasit/pull/177 . Nicely done!

[2019-03-20 20:12] #168 closed

[2019-03-20 20:14] pcowgill opened #178 "Gray out the buy button while it's in "waiting for account" mode"
![Screenshot 2019-03-20 15 13 17](https://user-images.githubusercontent.com/2731712/54716018-c950d580-4b22-11e9-9746-9df7abf7a78d.png)

[2019-03-20 20:57] pcowgill opened #179 "Set Android privacy policy and/or change Android permission requests"
`Your app has an apk with version code 1 that requests the following permission(s): android.permission.CAMERA,android.permission.RECORD_AUDIO,android.permission.READ_PHONE_STATE,android.permission.READ_CONTACTS. Apps using these permissions in an APK are required to have a privacy policy set.`

I think we might be able to turn off many or all of these permission requests using Expo

[2019-03-20 21:29] pcowgill commented on #179
@marcelomorgado Ah yeah, we can just make a PR to requests fewer Android permissions. They're all included by default.

"Note: If you don't specify `android.permissions` inside your `app.json`, by default your standalone Android app will require all of the permissions listed above."

Source: https://docs.expo.io/versions/latest/sdk/permissions/#android-permissions-equivalents-inside-appjson

[2019-03-21 14:30] pcowgill opened #181 "Create Android build 0.0.4 to test new app permissions"

[2019-03-21 14:48] #181 closed

[2019-03-21 15:13] marcelomorgado opened #183 "Updating android & iOS build version"

[2019-03-21 15:22] #183 closed

[2019-03-21 16:05] pcowgill commented on #145
Android:
![Screenshot 2019-03-21 11 04 30](https://user-images.githubusercontent.com/2731712/54766419-3cad2280-4bc9-11e9-8b10-3467398741e2.png)
![Screenshot 2019-03-21 11 04 36](https://user-images.githubusercontent.com/2731712/54766427-4040a980-4bc9-11e9-8aee-d9558732fe43.png)
![Screenshot 2019-03-21 11 04 44](https://user-images.githubusercontent.com/2731712/54766433-42a30380-4bc9-11e9-94fb-7908

[2019-03-21 16:13] pcowgill commented on #145
@marcelomorgado For the Android content rating questionnaire, I was torn between `Entertainment` and `Utilitiy, Productivity, Communication, or Other`. I went with the latter.

![Screenshot 2019-03-21 11 11 42](https://user-images.githubusercontent.com/2731712/54766904-205db580-4bca-11e9-9c60-f44f73514d25.png)

[2019-03-21 17:52] marcelomorgado commented on #145
Yes, I agree.

[2019-03-21 19:11] pcowgill commented on #145
On Android I went with `Lifestyle` for the category. I was also considering `Tools` and `Shopping`.

[2019-03-21 19:43] marcelomorgado opened #185 "App Font.loadAsync error"
The error below occurred on Android simulator:

[code]

[2019-03-21 22:43] pcowgill opened #186 "Change Android icon to an opaque circular logo with a transparent background behind it"

[2019-03-21 22:43] pcowgill commented on #186
![Screenshot_20190321-174036](https://user-images.githubusercontent.com/2731712/54789568-e360e580-4c00-11e9-8e93-f6fd224466cf.png)

[2019-03-22 13:06] marcelomorgado opened #187 "Add a message on screen when have no assets for sale"
When we have no assets for sale, the screen stays blank without feedback for the user, seeming that is buggy.

[2019-03-22 13:20] pcowgill opened #188 "Detect when the app has been idle and for a bit and generate a wallet then if the user has used the app enough"
(Or do this as a background task)

[2019-03-25 14:48] pcowgill opened #190 "Persist ephemeral account between app quitting and reopening"

[2019-03-25 17:02] #134 closed

[2019-03-25 18:18] pcowgill opened #191 "Bump version to 0.0.5 and publish and build"

[2019-03-25 18:52] #191 closed

[2019-03-25 19:37] pcowgill commented on #141
@marcelomorgado FYI I'm getting this warning every time I upload a new iOS build

[2019-03-26 10:16] marcelomorgado opened #193 "Assests for sale list is duplicating after refreshing"
After refreshing the main list (backing to the home screen and loading again), the asses are being appended to the already loaded list and duplicated it.

Note: Maybe this issue will be deprecated after [Git rid of loading screen since it's serving a duplicate role with the Expo splash screen](https://github.com/tasitlabs/tasit/issues/166)

[2019-03-26 10:31] marcelomorgado commented on #141
Hey @pcowgill, seems this [post](https://github.com/expo/expo/issues/2092#issuecomment-469528206) is what we need to fix it. I've tried to follow the steps but seems that I haven't enough permissions to proceed.

[2019-03-26 12:44] pcowgill commented on #193
Should we close this as a duplicate of https://github.com/tasitlabs/tasit/issues/167 ?

[2019-03-26 12:48] pcowgill commented on #141
@marcelomorgado Okay, thanks! I’ll look into this. Any idea what type of persmisson in particular was missing?

[2019-03-26 13:10] marcelomorgado commented on #193
Oh, yes. For sure.
Closing this.

[2019-03-26 13:10] #193 closed

[2019-03-26 13:14] marcelomorgado commented on #141
All checks are disabled for me.

[2019-03-26 13:29] marcelomorgado commented on #142
This issue can be closed?

[2019-03-26 13:29] marcelomorgado commented on #145
This issue can be closed?

[2019-03-26 13:29] marcelomorgado commented on #101
This issue can be closed?

[2019-03-26 14:21] pcowgill commented on #101
Yep!

[2019-03-26 14:21] #101 closed

[2019-03-26 14:22] pcowgill commented on #145
I still need to do this for iOS before non-beta app review

[2019-03-26 14:22] pcowgill commented on #142
Yep!

[2019-03-26 14:22] #142 closed

[2019-03-26 15:27] #185 closed

[2019-03-26 16:53] pcowgill opened #196 "Build a minimal wallet app to experiment with deep-linking"

[2019-03-26 17:59] #187 closed

[2019-03-26 18:36] marcelomorgado opened #197 "Decentraland: How is the best way to store loading states?"
We are encapsulating both `account` and `assetsList` loading states inside of their objects (on redux reducers).
Should we keep that way or keep them on the same higher level?
This question was originated from this thread: https://github.com/tasitlabs/tasit/pull/194#discussion_r269168560

[2019-03-27 04:38] #146 closed

[2019-03-27 04:42] pcowgill opened #199 "While waiting for account to be ready, show alert messages at each bit of progress"
(Account generation complete + after each tx.)

[2019-03-27 04:44] pcowgill commented on #199
@marcelomorgado So far this step has taken longer than early testers expected, so I think this would be a good quick win

[2019-03-27 04:45] pcowgill commented on #199
The longer-term solution will be something like this - https://github.com/tasitlabs/tasit/issues/188 - but having a good sense of timing for each step will help with that

[2019-03-27 04:49] pcowgill commented on #190
@marcelomorgado As of right now, is it persisted when the app is quit and reopened without a version update?

[2019-03-27 04:50] pcowgill commented on #162
This will be easier to add now that there’s the drawer navigator

[2019-03-27 04:52] pcowgill commented on #150
This issue arguably should be merged with https://github.com/tasitlabs/tasit/issues/115

[2019-03-27 04:53] pcowgill commented on #111
@marcelomorgado I think the rough original intent of this issue is complete, even if it’s not done exactly as the issue is worded

[2019-03-27 04:59] pcowgill commented on #24
Note that “action” as used here is in the redux sense of the word, not the “Tasit action” sense

[2019-03-27 05:06] pcowgill opened #200 "Remove info and success prefixes from non-error/warn toasts"

[2019-03-27 05:09] pcowgill opened #201 "Change title bar color at the top of app to match main background color"
And maybe default the app in general to dark mode?

[2019-03-27 11:14] marcelomorgado opened #202 "Header back button"
Since PR #198 the header is showing only the menu button but some screens should have the back button too.

Refs: https://github.com/tasitlabs/tasit/pull/198#issuecomment-476882062

[2019-03-27 11:17] marcelomorgado commented on #190
No, not really the created account is lost after closing the app (from the background).

[2019-03-27 11:18] marcelomorgado commented on #111
Agree

[2019-03-27 12:27] marcelomorgado commented on #197
I've made a quick read about React Suspense and seems with that manage loading flags won't be necessary.

Refs:
https://blog.logrocket.com/async-rendering-in-react-with-suspense-5d0eaac886c8
https://hackernoon.com/magic-of-react-suspense-with-concurrent-react-and-react-lazy-api-e32dc5f30ed1

[2019-03-27 13:30] pcowgill commented on #190
Okay good to know, thanks. In that case I think it is a slightly higher priority than I originally thought

[2019-03-27 13:54] marcelomorgado opened #204 "Change button component to NativeBase button"
And delete `react-native-button` dependency after that.

[2019-03-27 14:35] pcowgill opened #206 "A screen that shows state of readiness your account is in (linked to from the drawer)"
In the medium and long term this would supplement or replace the toasts from this issue https://github.com/tasitlabs/tasit/issues/199 and also work well along with or before this issue https://github.com/tasitlabs/tasit/issues/188

[2019-03-27 14:36] pcowgill commented on #206
Maybe percent ready, maybe check marks for different steps along the way to the account being all set up, etc.

[2019-03-27 14:43] #153 closed

[2019-03-27 14:49] pcowgill commented on #197
Thanks for looking into this. I'll take a look sometime soon!

[2019-03-27 14:57] #199 closed

[2019-03-27 14:57] #200 closed

[2019-03-27 15:18] pcowgill commented on #141
Thanks for checking.

Okay, I think this is all done now. I'll confirm the next time I upload an app version.

Their instructions involved the Mac app `Keychain Access` quite a bit, so it might not have worked on a Mac. For that reason, I don't think it's worth the time to figure out how to give you these specific Apple permissions

[2019-03-27 15:26] marcelomorgado commented on #141
Agree

[2019-03-27 15:26] pcowgill commented on #141
Note: The certificate I generated may or may not work for local development using push notifications. If it doesn't, I can generate another for that environment

[2019-03-27 15:37] pcowgill opened #208 "Bump version to 0.0.6 and publish and build"
Gated by https://github.com/tasitlabs/tasit/pull/205

[2019-03-27 15:54] pcowgill opened #209 "Merge screens/ helpers with root helpers in Decentraland app?"

[2019-03-27 16:18] pcowgill commented on #201
Marcelo is going to see how white looks for the title bar

[2019-03-27 16:21] #178 closed

[2019-03-27 16:25] marcelomorgado opened #210 "Purchased assets should show up after app reload - load “my assets” list from blockchain"
For now, an asset is added to `my assets` list by `redux` after the user bought it.
Since we'll persist the ephemeral account, we should load the list every time the user starts the app.

Gated by  #190

Make sense that this data from `Decentraland API` or it should be getting from the `EstateRegistry` and `LandRegistry` contracts?

[2019-03-27 16:26] marcelomorgado commented on #210
Maybe use local storage for that?

[2019-03-27 16:33] pcowgill commented on #210
Persisting the assets to local storage to show until the new list ends up updating (nice on subways without cell reception, etc.) and only showing new ones if the new list that was fetched differs from the local list sounds good.

If it's almost as performant as using the API, I'd rather use contracts directly if possible.

If hitting the contracts directly is prohibitively slow or uses a lot of d

[2019-03-27 16:37] #208 closed

[2019-03-27 16:46] marcelomorgado commented on #210
Nice! :+1: :v:

[2019-03-27 16:55] pcowgill opened #212 "Configure fastlane for app delivery"

[2019-03-27 16:56] pcowgill commented on #210
@marcelomorgado Feel free to use the `decentraland` GitHub issue label rather than prefixing the issue name with Decentraland

[2019-03-27 16:57] pcowgill commented on #210
Note that there's likely a library we'll want to leverage to help with this

[2019-03-27 17:12] pcowgill commented on #88
I think we can extract the motion / animations into a different issue, since it's pretty unrelated

[2019-03-27 17:25] pcowgill commented on #199
The UX is sooo much better now after this change

[2019-03-27 17:26] pcowgill opened #213 "Show account status text on buy screen that persists after each toast so the user knows what they're waiting for even if they miss the toast"

[2019-03-27 17:28] pcowgill opened #214 "Land parcel should be removed from assets for sale list in redux immediately after triggering the buy and added back if the buy fails to go through"
(In other words, optimistic updates)

[2019-03-27 18:11] marcelomorgado opened #215 "Use motion / animations UI components"
Motion / animations:
https://github.com/IjzerenHein/react-native-magic-move
https://popmotion.io/pose/learn/native-get-started/

Extracted from: https://github.com/tasitlabs/tasit/issues/88

[2019-03-27 18:11] marcelomorgado commented on #88
Extracted to: https://github.com/tasitlabs/tasit/issues/215

[2019-03-27 18:12] marcelomorgado commented on #199
Great!

[2019-03-27 18:34] pcowgill commented on #141
Hmm, I still got the alert, so there's more to be done.

I think we need to run `expo build:ios -c --no-publish` to clear the expired credentials and generate new ones now that I've added the push notification credentials. I'll try that now.

[2019-03-27 18:38] pcowgill commented on #141
FYI edited the comment above ^

[2019-03-27 19:50] pcowgill opened #217 "When My Assets screen has no assets, vertically center message"

[2019-03-27 19:52] pcowgill opened #218 ""Parcel without name" for 44000 MANA reappears for sale after app update"
@marcelomorgado Have you experienced this?

"Parcel without name" for 44000 MANA reappears for sale after app update, when I bought it and it was showing up in the `My Assets` view before the app update

[2019-03-27 19:59] pcowgill commented on #210
@marcelomorgado Note that until we do this, after you successfully buy land, if you quit the app and reopen it, the land no longer is there on the `My Assets` screen

[2019-03-27 20:02] pcowgill commented on #218
For what it's worth, I wasn't able to reproduce this just now when I tried it on Android. Maybe it wasn't really exactly the same parcel of land? Or maybe the populate land script readded a similar piece of land after I bought it and I confused the two? I'll see if I can reproduce this.

[2019-03-27 20:46] pcowgill commented on #141
I manually deleted the provisioning profile that had become invalid from within the apple developer portal and then did:

[code]

So far that seems promising. Uploading the new version now.

[2019-03-27 21:00] pcowgill commented on #210
@marcelomorgado Would getting my assets list from `Decentraland API` even work on testnet?

[2019-03-27 21:03] pcowgill opened #220 "Update to latest version of SDK to use getAllAssetsForSale function"

[2019-03-27 21:11] pcowgill commented on #141
This is working now. Closing this.

[2019-03-27 21:11] #141 closed

[2019-03-27 21:16] pcowgill commented on #218
It also reappears after quitting and reinstalling the app.

So I think we're just not checking for previously bought assets before putting the results of the assets for sale fetch into redux on first app load.

Here are iOS steps to reproduce:

![IMG_3837](https://user-images.githubusercontent.com/2731712/55112885-a2a71780-50ab-11e9-97f9-49fd24f60170.PNG)
![IMG_3838](https://user-images.githubuser

[2019-03-27 21:52] marcelomorgado commented on #218
I've figured out what is happening, the purchase is only working for `estate` assets. That `parcel` isn't being shown on the main list because the order wasn't be executed. I'll look into that as a top priority.

[2019-03-27 21:59] marcelomorgado commented on #210
Oh, good point. No, not really, my fault.

[2019-03-27 22:02] marcelomorgado commented on #210
Yes, I've created this issue because of that. Actually, since the current app is creating a new ephemeral account on each start it weirdly isn't a bug, but it will after account persistence (#190).

[2019-03-27 22:05] pcowgill commented on #218
Ah ok interesting - good find. In that case we should also update the logic for when the "purchase successful" notification is shown

[2019-03-27 22:07] pcowgill commented on #210
Ah yes, makes sense!

[2019-03-27 22:22] marcelomorgado commented on #218
Ok, brought https://github.com/tasitlabs/tasit/issues/151 to 0.1.0 milestone

[2019-03-27 22:58] pcowgill commented on #218
Perfect, thanks

[2019-03-28 15:11] marcelomorgado opened #222 "Bump version to 0.0.8 and publish and build"

[2019-03-28 15:15] #222 closed

[2019-03-28 18:54] pcowgill commented on #206
This could also be the screen that shows your ephemeral account address and links out to Etherscan

[2019-03-28 18:56] pcowgill commented on #213
@marcelomorgado Or maybe rather than changing the button text, we should this information elsewhere on the screen and have the button text remain the same as "buy" but the background color shows it's disabled.

[2019-03-29 10:28] marcelomorgado commented on #201
I think this can be closed since the header is already white and it seems good.

[2019-03-29 12:41] pcowgill commented on #201
Agreed - I just added a `Closes` to the description of this PR https://github.com/tasitlabs/tasit/pull/224

[2019-03-29 13:27] #201 closed

[2019-03-29 13:27] #202 closed

[2019-03-29 13:38] pcowgill opened #225 "Release back button and account persistence as version 0.0.9"
Note that we can publish these changes as `0.0.9` even [without making a new build](https://docs.expo.io/versions/latest/workflow/publishing/#some-native-configuration-cant-be-updated-by) but we shouldn't get in the habit of relying on this since we'll need to disable OTA updates by the time this hits mainnet

That said, in this case it could be worth publishing immediately as well (by not using t

[2019-03-29 14:32] pcowgill opened #226 "Show app version in drawer menu"

[2019-03-29 14:33] pcowgill opened #227 "Update to node 10.15"

[2019-03-29 15:45] #190 closed

[2019-03-29 15:51] marcelomorgado opened #229 "Create helpers subpackage dir"
Move all `helpers` files to a dir called helpers and create a `package.json` for it.
This move should solve the `starter.js` import problem (Refs: https://github.com/tasitlabs/tasit/pull/207#discussion_r270443373).

[2019-03-29 16:56] pcowgill commented on #111
Re-opening this based on our discussion on Slack

[2019-03-29 17:14] marcelomorgado commented on #111
@pcowgill commented:

[2019-03-29 17:17] marcelomorgado opened #230 "The account should be stored after all setup process?"
The current account creation process is storing the account before setup (funding and approval) became complete. Should the account store only be done after all setup process?

[2019-03-29 18:09] pcowgill commented on #230
Hmm, what would be the argument for waiting? I think it still could make sense to have the UI already start showing the address where appropriate, etc.

[2019-03-29 18:23] pcowgill commented on #87
@marcelomorgado Maybe something like this https://www.figma.com/proto/fd9PGuJ3HC8H72LLGEgc7Ld8/Land-Info-Font?node-id=1%3A9&scaling=scale-down

[2019-03-29 18:24] pcowgill commented on #87
@marcelomorgado Here's the source file https://www.figma.com/file/fd9PGuJ3HC8H72LLGEgc7Ld8/Land-Info-Font?node-id=0%3A1

[2019-03-29 19:37] #213 closed

[2019-03-29 22:58] #225 closed

[2019-03-29 23:01] pcowgill commented on #167
Now that the back button is gone, I’ll rename this issue

[2019-03-29 23:03] pcowgill commented on #209
@marcelomorgado I think we can close this, right?

[2019-03-29 23:06] pcowgill commented on #210
@marcelomorgado I think we should prioritize this issue since it’s one of the most likely to confuse our beta testers

[2019-03-29 23:14] pcowgill commented on #147
(Only for non-user-facing purposes)

[2019-03-29 23:20] pcowgill commented on #133
Closed by https://github.com/tasitlabs/tasit/pull/224

[2019-03-29 23:20] #133 closed

[2019-03-29 23:24] pcowgill commented on #70
@marcelomorgado I think we can mark this as complete

[2019-03-29 23:26] pcowgill opened #233 "Update app to use optimistic updates + listener API consistently"

[2019-04-01 12:05] marcelomorgado opened #234 "The “approving marketplace” message didn’t go away after approving the marketplace finished according to the alert"

[2019-04-01 15:44] maharjanaman commented on #141
I'm still getting this error for my new builds. I let expo handled all the certificates. I'm able to enable Push Notifications from developers account but didn't recreate the certificates. Can we not use certificates created by expo???

[2019-04-01 16:00] pcowgill commented on #141
@maharjanaman In my experience we had to delete the provisioning profile either manually from within the Apple UI or using the Expo commands (I tried both at once so I’m not sure what fixed it). Then you let Expo regenerate a new one for you after having changes the push notification setting.

[2019-04-01 16:37] maharjanaman commented on #141
@pcowgill by provisioning profile, did you mean all certificates generated by expo? If yes, if we regenerate new ones, don't we again have to enable push notifications from developers account?

[2019-04-01 17:15] pcowgill commented on #141
@maharjanaman At this URL developer.apple.com/account/ios/certificate/?teamId=**[REDACTED]**

Note that you'll need to use the right teamId above ^

there's a section at the lower left called `Provisioning Profiles`. The distribution profile shown there is the one I manually deleted. The `App ID` we modified in the `App IDs` section under `Identifiers` on that page (based on the instructions [here

[2019-04-01 18:33] pcowgill commented on #234
@marcelomorgado There's one remaining change we may want to make here.

When it's at the stage where it's going to fund the account with MANA and approve the marketplace in parallel, shouldn't it say when both begin something like `Approving marketplace and funding with MANA...`?

Here's the flow I just saw, which seemed to assume in the flow that marketplace approval would happen first.

![Simula

[2019-04-02 14:31] pcowgill commented on #217
I'm working on this one

[2019-04-02 16:40] marcelomorgado commented on #209
Yes :+1:

[2019-04-02 16:40] marcelomorgado commented on #209
Closing this.

[2019-04-02 16:40] #209 closed

[2019-04-02 16:41] marcelomorgado commented on #210
OK :+1:

[2019-04-02 16:41] marcelomorgado commented on #210
I'll work on this, just after finishing open PRs.

[2019-04-02 16:45] pcowgill commented on #210
Sounds good - thanks!

[2019-04-02 16:53] marcelomorgado commented on #234
Oh yeah, this message is missing.

[2019-04-02 16:54] marcelomorgado commented on #70
I agree, closing this.

[2019-04-02 16:54] #70 closed

[2019-04-02 16:59] pcowgill opened #239 "Enforce allowed onboarding state transitions in data store reducer"
https://github.com/tasitlabs/tasit/pull/228#discussion_r270548313

[2019-04-02 17:40] #87 closed

[2019-04-02 19:28] marcelomorgado opened #240 "NativeBase isn't well integrated to the code"
For now, we need to add the NativeBase (`<Root>`) on every component that uses it.
The expected behavior is to **add it to the `App.js`** that will affect all app components.

[2019-04-02 20:16] marcelomorgado opened #241 "Bump version to 0.0.10 and publish"

[2019-04-02 21:22] #241 closed

[2019-04-02 21:59] pcowgill commented on #234
@marcelomorgado FYI I'm working on this.

[2019-04-03 02:38] pcowgill opened #246 "The background color for land on click shouldn’t change so much"
Maybe even an opacity for the image instead, if that’s not too hard

[2019-04-03 02:39] pcowgill commented on #246
![58BA540B-C41B-40C3-B597-831B73E7B21F](https://user-images.githubusercontent.com/2731712/55449048-bcef6280-558f-11e9-890b-91ea12f2164f.png)

[2019-04-03 10:31] marcelomorgado commented on #186
Here the icon is looking that way:
![TasitApp](https://user-images.githubusercontent.com/29674218/55472416-f5c91f00-5603-11e9-9989-13393b00a34c.png)

[2019-04-03 12:36] marcelomorgado commented on #210
- EstateRegistry contract doesn't have a method to get all estate IDs owned by an address
- LandRegistry contract has the _assetsOf[owner] array, but it's internal
- LandRegistry contract has the landOf(address owner) method but it's returns x,y array but only of parcels that don't belong to any estate.

[code]

[2019-04-03 12:41] marcelomorgado commented on #210
Maybe, another way to get that is using events:
`assetsOf = (All transfer events to address) - (All transfer events from address)`
Since marketplace order execution call tokens transfer functions.

[2019-04-03 12:58] marcelomorgado commented on #210
Go deep on the last solution (using events):

**EstateRegistry**
`mint()` emits `Transfer` event (from `0` to address) :heavy_check_mark:
`burn()` emits `Transfer` event (from address to `0`) :heavy_check_mark:
`transferFrom()` emits `Transfer` event :heavy_check_mark:
`safeTransferFrom` emits `Transfer` event :heavy_check_mark:
`transferLand` emits `Transfer` event :heavy_check_mark:
`transferMan

[2019-04-03 15:09] pcowgill commented on #186
@marcelomorgado Thanks for checking. I was going to look on my Android device after it recharged enough to turn on. Looks like a different PNG that’s more “zoomed out” will do the trick as an adaptive icon.

Android 8.0 (API level 26) introduces adaptive launcher icons - my personal testing android device is on Android 7.1, and there it still looks like a square. So while I'm redoing the adaptive

[2019-04-03 15:10] pcowgill commented on #210
Yep, I agree that without the `ERC721Enumerable` (using OpenZeppelin's implementation as an example) methods available in the Decentraland ERC721-related contracts (and they aren’t available there), constructing ownership state from past events is the way to go!

[2019-04-03 15:50] #234 closed

[2019-04-03 15:55] #186 closed

[2019-04-03 16:16] pcowgill commented on #234
@marcelomorgado Nice, this is working perfectly now:

![Simulator Screen Shot - iPhone Xʀ - 2019-04-03 at 11 11 19](https://user-images.githubusercontent.com/2731712/55495123-d8935100-5601-11e9-9c31-15d369767925.png)
![Simulator Screen Shot - iPhone Xʀ - 2019-04-03 at 11 12 39](https://user-images.githubusercontent.com/2731712/55495128-dc26d800-5601-11e9-905b-a9ccaf73d061.png)
![Simulator Screen S

[2019-04-03 16:21] marcelomorgado commented on #234
Great!

[2019-04-03 16:34] pcowgill commented on #186
It's looking better now on Android 7.1.

I might want to change the alignment slightly to leave more space at the upper right, but we can create a separate issue for that.
![Screenshot_20190403-113135 copy](https://user-images.githubusercontent.com/2731712/55496334-6ec87680-5604-11e9-8ae5-550ac280647b.png)

![Screenshot_20190403-113135](https://user-images.githubusercontent.com/2731712/55496312-5c

[2019-04-03 16:35] pcowgill commented on #186
@marcelomorgado Once you update your app on your Android device to `0.0.12`, can you send a screenshot of how the icon looks for you now? Thanks!

[2019-04-03 16:52] marcelomorgado commented on #186
I don't how long it takes to update because it stays the same just after the update, but after restart the device, the icon was updated:

![WhatsApp Image 2019-04-03 at 5 48 31 PM](https://user-images.githubusercontent.com/29674218/55497381-28d9d580-5639-11e9-9d8a-3502312145b3.jpeg)

[2019-04-03 17:14] pcowgill commented on #186
It's surprising it behaves that way, but I'd say it looks pretty good now that it did update. Maybe if you uninstalled the app first it would have updated right away.

[2019-04-03 17:22] #166 closed

[2019-04-03 17:22] #217 closed

[2019-04-03 17:40] marcelomorgado commented on #210
Gated by https://github.com/tasitlabs/TasitSDK/issues/300

[2019-04-03 19:55] marcelomorgado opened #253 "Track purchase states"
Since we are using optimistic UI update, it'll be useful keeping tracking state of a purchase event.
Refs: https://github.com/tasitlabs/tasit/pull/251#discussion_r271895390

[2019-04-03 21:05] #214 closed

[2019-04-03 21:06] #220 closed

[2019-04-03 21:08] pcowgill commented on #173
@marcelomorgado One other benefit of this feature is that our alpha and beta testers trying the app would be able to confirm for themselves that indeed the back-end blockchain-related features are working as expected

[2019-04-04 14:05] #229 closed

[2019-04-04 19:38] pcowgill commented on #210
This was accidentally closed because the other PR had the `closes` keyword in it

[2019-04-04 20:21] marcelomorgado commented on #210
Ouch

[2019-04-05 09:10] marcelomorgado commented on #173
I'll work on that as my next issue.

[2019-04-05 13:52] marcelomorgado commented on #173
Where this link should be shown?

[2019-04-05 16:26] pcowgill commented on #173
I'll be thinking about this shortly, and I'll let you know!

[2019-04-05 16:51] pcowgill commented on #173
@marcelomorgado I just added some rough thoughts about this in the `#design` channel on Slack, and once we come to a decision I'll post that here.

[2019-04-05 17:13] #210 closed

[2019-04-05 18:07] marcelomorgado commented on #173
After a discussion on Slack, we've decided these:

- Account setup transactions `etherscan` links should be shown on each step message;
- Move the user to `MyLandScreen` after purchase;
- On the `MyLandScreen`, show buy tx `etherscan` links below each parcel of land (using an eye icon);

[2019-04-05 19:30] pcowgill opened #261 "My land screen names for land should have the same look as the land for sale screen names for land"
![Simulator Screen Shot - iPhone Xʀ - 2019-04-05 at 14 28 29](https://user-images.githubusercontent.com/2731712/55651781-53e63580-57af-11e9-8771-54377e14a4f8.png)
![Simulator Screen Shot - iPhone Xʀ - 2019-04-05 at 14 28 24](https://user-images.githubusercontent.com/2731712/55651782-547ecc00-57af-11e9-9977-70e32df0f5d7.png)

[2019-04-05 19:39] pcowgill opened #262 "Erratic "My land" list behavior"
https://youtu.be/Lg0bqZoW-QM

Note the count of land (4 vs. 5) and the ordering of the land

[2019-04-05 19:50] pcowgill commented on #262
Second video:

https://youtu.be/EfiC6vovJl4

[2019-04-05 19:51] pcowgill commented on #262
We may want to split this out into an issue about preserving the order of the land in the "My land" list and handling buys that may not have gone through enough to persist?

[2019-04-05 19:56] pcowgill commented on #262
Here's a sequel to this video with the same account where the land later shows up in the "My land" screen. I missed recording one time in between where I opened the app and after first it showed no land and then showed the land bought in the previous video. In this video, it goes straight to showing that land:

https://youtu.be/ytxfClR51uo

[2019-04-05 20:34] pcowgill opened #264 "Add a local loading state for the "My land" screen"

[2019-04-05 20:38] pcowgill commented on #264
If no land but the request for my land list is still in process, show loading icon. If really no land, show existing no land by rendering the presentational component with no land.

If land but the request for my land list is still in process, show existing land with some subtle loading indicator.

[2019-04-08 21:06] marcelomorgado commented on #173
After purchase, if the user clicks on the `Land For Sale` menu item, he will be moved to the `BuyLandScreen` showing the asset already bought, It's a bug. The menu link 'Land for Sale' should move the user to the `LandForSaleListScreen`.

[2019-04-08 21:06] marcelomorgado commented on #173
@pcowgill commented about design:

[2019-04-08 21:25] pcowgill opened #265 "Make sure reacting to events, etc. listened to from other screens works after navigating away, and rearchitect if not"

[2019-04-08 21:27] pcowgill commented on #173
Should we split this out into a separate issue?

[2019-04-09 10:10] marcelomorgado opened #267 "After purchase navigation"
After purchase, user is being moved to `ListLandForSaleScreen`, to improve the UI flow, that navigation should be change to redirect the user to `MyAssetsScreen`.
We've made a tryout on that and faced some issues that need to me addressed:

- After purchase, if the user clicks on the `Land For Sale` menu item, he will be moved to the `BuyLandScreen` showing the asset already bought, It's a bug. Th

[2019-04-09 10:10] marcelomorgado commented on #173
Okay. Extracted to: https://github.com/tasitlabs/tasit/issues/267

[2019-04-09 10:49] marcelomorgado opened #268 "No large snapshot - move rule to error level"
We've setup the [`jest/no-large-snapshots`](https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/no-large-snapshots.md) rule on our `eslint` and it's warning during the current test suite:

   87:1  warning  Expected Jest snapshot to be smaller than 50 lines but was 52 lines long  jest/no-large-snapshots
  141:1  warning  Expected Jest snapshot to be smaller than 50 lines bu

[2019-04-09 13:10] marcelomorgado commented on #262
I've clean up my app data and followed the below steps trying to reproduce these issues:

- Signup
- Buying a land (name: TOP)
- It's was added to MyLandScreen and removed from LandForSaleScreen correctly
= Restarting app...
- MyLandScreen is OK
- Buying another land (Lucky Lands near DrgonCity)
- It's was added to MyLandScreen and removed from LandForSaleScreen
- The MyLand list is now: [Lucky La

[2019-04-09 13:18] pcowgill commented on #268
Hmm, but if that’s the case, why are there multiple warnings in the same snapshot for BuyLand?

[2019-04-09 13:22] pcowgill commented on #268
I think it is only applying this rule separately to each individual test case, which is what we want.

[2019-04-09 15:43] marcelomorgado commented on #262
Oh, sorry. I've meant "reverse list".

[2019-04-09 15:45] marcelomorgado commented on #268
Fortunately, my last change on current PR solved it. If it occurs again I know that increase a little bit the size won't be a problem. Thanks!

[2019-04-09 16:23] pcowgill commented on #268
Okay, sounds good! I'd even be open to making that rule an error-level warning to make sure we track it.

[2019-04-09 16:34] marcelomorgado commented on #268
Okay, I'm reopening this to address that.

[2019-04-09 16:42] marcelomorgado opened #272 "Using babel-node on the starter script"
Install `babel-node` and use it on npm start  script. Also change code of `/starter.js` and `/helpers/starter.js` from ES5 to ES6.

Refs: https://github.com/tasitlabs/tasit/pull/269#discussion_r273531411

[2019-04-09 17:22] marcelomorgado opened #273 "Renaming functions from ListLandForSaleScreen.js"
Renaming `_toAssetForSale` to `_reformatAssetForSale`. Refs: https://github.com/tasitlabs/tasit/pull/259#discussion_r272658190

[2019-04-09 18:59] pcowgill commented on #150
@marcelomorgado Merging this into #115

[2019-04-09 18:59] #150 closed

[2019-04-09 19:00] pcowgill commented on #115
An alternate name might be `Show placeholder land / estates with grey boxes and a placeholder name while the real ones load`

Image from React Native Elements could help with this https://react-native-training.github.io/react-native-elements/docs/image.html

[2019-04-09 19:03] pcowgill commented on #88
@marcelomorgado I think we can close this issue

[2019-04-09 19:06] pcowgill commented on #206
Now that we have the account creation status in redux from https://github.com/tasitlabs/tasit/pull/260 this will be more straightforward to build

[2019-04-09 19:19] marcelomorgado commented on #88
Yes, I agree. Closing this.

[2019-04-09 19:19] #88 closed

[2019-04-09 20:23] #268 closed

[2019-04-10 10:14] marcelomorgado commented on #173
Updating the TODO list for this issue:

~~- Account setup transactions `etherscan` links should be shown on each step message;~~ Done
~~- Move the user to `MyLandScreen` after purchase;~~ Extracted https://github.com/tasitlabs/tasit/issues/267
- On the `MyLandScreen`, show buy tx `etherscan` links below each parcel of land (using an eye icon);

[2019-04-10 14:46] pcowgill commented on #206
@mpetrunic Thanks for applying to work on this! Here are some detailed instructions. Let me know if this works for you, and if so, I'll approve you to work on this right away!

I think in case the `creationStatus` states are transitioned through in different orders in the future, we shouldn't directly map each `creationStatus` to a fixed percent completeness. For that reason, getting the keys (whi

[2019-04-10 14:56] marcelomorgado commented on #206
Great explanation, Nothing to add. :+1:

[2019-04-10 15:29] mpetrunic commented on #206
Hi @pcowgill. Tnx for explanation.

Yup, that works.

I'm aware of that.

I though about using that library linked there, progress bar there can be set to fill the parent and can choose color. Also, when reudux updates, it should animate nicely if user has that screen shown.

sure

[2019-04-10 15:37] pcowgill commented on #206
@mpetrunic Okay, that all sounds good. I'll approve you to work on this now!

[2019-04-10 15:40] pcowgill commented on #206
@ceresstation Because this bounty was funded through Gitcoin requests, it looks like I'm unable to approve @mpetrunic to work on this. This was the error message: `Only the funder of this bounty may perform this action.`

Could you please approve him for me or give me permissions to approve him? Thanks!

[2019-04-10 17:38] #111 closed

[2019-04-10 18:18] pcowgill opened #277 "Link to privacy policy from within the app"
https://privacy.tasit.io

[2019-04-10 18:18] pcowgill commented on #277
@marcelomorgado Any thoughts on what screen this would be most appropriate in? The drawer menu seems to make the most sense, but I'm not sure off the top of my head how hard it would be to add a custom link there that doesn't navigate to another screen. Thoughts?

[2019-04-10 18:32] marcelomorgado commented on #277
The drawer menu seems a good place for it. I've done a quick research on that and seems that will possible that we'll need to move the drawer to a custom component to achieve that. If I'm right, will'll spend more time than add a simple link but on the other hand, it could solve the `toast` problem.

[2019-04-10 19:15] pcowgill commented on #277
@marcelomorgado Maybe in the interest of getting something out quickly we can just put it on the `EthereumQuestion` screen and change it later

[2019-04-10 19:16] pcowgill commented on #277
Or actually maybe the `OnboardingHome` screen

[2019-04-10 20:47] marcelomorgado opened #278 "Use properly module to load config file"
The current approach is reading the config from a file manually.

Related to https://github.com/tasitlabs/TasitSDK/issues/184

[2019-04-10 22:44] #277 closed

[2019-04-10 22:52] marcelomorgado opened #281 "Fix bug with current config file"
The `.current.js` file isn't being read well, rename it to just `current.js`.

[2019-04-10 23:01] #281 closed

[2019-04-12 19:03] pcowgill opened #285 "Design for loading messages"
Change font, font weight, alignment, and spacing
![LoadingMessages](https://user-images.githubusercontent.com/2731712/56060207-c749f300-5d2b-11e9-8d89-c9f0c3a25a9b.png)

[2019-04-14 19:33] pcowgill opened #288 "Error: Key not found in database"
I'm getting `Error: Key not found in database` on the My land screen when testing out the feature branch with the addition of the `My account` screen.

![Simulator Screen Shot - iPhone Xʀ - 2019-04-14 at 14 32 11](https://user-images.githubusercontent.com/2731712/56098084-4113e500-5ec2-11e9-9ee7-529ebd413865.png)

[2019-04-14 19:44] pcowgill commented on #288
@marcelomorgado Ah ok, I figured out how to get this error. It's when you run the app without running `npm start` in the Tasit SDK repo.

Thoughts:

1) When that happens we should show something more informative on this screen.
2) I'm not sure why the first error that happens in that case is a key not found in database error. That's surprising.
3) This means that the starter script isn't reliably

[2019-04-15 13:49] marcelomorgado opened #289 "Account remains even with the app removal"
Issue related by @pcowgill :

[2019-04-15 14:05] marcelomorgado opened #290 "Show eye icon on account creation (dev env)"
Since we have no URL to link the transactions on development env, the eye icons aren't be shown right now.
We should show the link, and when a user clicks on that, an alert should be displayed with a message like: "Shows the action details on the real chains".

[2019-04-15 23:39] pcowgill opened #291 "Improve look of "My account" screen"
@marcelomorgado I think if we're going to have a header, we should probably move the progress bar up directly below the header, touching it.

Also, I think the individual progress contributors should be aligned towards the top of the screen rather than towards the bottom.

Think this should gate merging https://github.com/tasitlabs/tasit/pull/287 into `develop`? I'd say it's fine to merge into `de

[2019-04-15 23:41] pcowgill commented on #291
This is how it looks when it's all complete, as of right now

![Simulator Screen Shot - iPhone Xʀ - 2019-04-15 at 18 40 31](https://user-images.githubusercontent.com/2731712/56172224-0dae8480-5fae-11e9-8de7-ddf26fecb6ba.png)

[2019-04-16 00:42] pcowgill commented on #291
I can see now how the wireframe was ambiguous, and what we have so far is certainly a reasonable interpretation of what is in the design. But seeing the real thing, I think a few small improvements are needed.

https://www.figma.com/file/0vJIc39s2tbVJ8VzMihyI7pI/My-profile?node-id=0%3A1&redirected=1

[2019-04-16 00:43] pcowgill commented on #291
The individual progress items could also be vertically centered if we had less spacing between each item

[2019-04-16 04:09] #206 closed

[2019-04-16 04:11] pcowgill commented on #291
FYI I went ahead and merged #287 into `develop`. Let’s not build or publish from `develop` until we tweak the layout a bit, though. Normally that could be a dangerous practice, but the layout changes here are very minor.

[2019-04-16 14:01] pcowgill commented on #289
@marcelomorgado Can you reproduce this on Android?

[2019-04-16 14:31] marcelomorgado commented on #289
I've trying to do that right now and just saw that the land for sale doesn't appear on the last version of the app. I guess that could be happening because of the config files. Maybe because of the build was made without `current.js` file generated?

[2019-04-16 14:43] pcowgill commented on #289
@marcelomorgado Are you sure? There are a few estates showing up for me

[2019-04-16 14:44] marcelomorgado commented on #289
I'll reinstall the app again.

[2019-04-16 14:45] pcowgill commented on #289
@marcelomorgado Oh weird, after reloading the app they don’t appear anymore. Did you run a build or publish script recently? We should try to fix this as a top priority. I guess we should move this discussion outside of this issue since it’s not related.

[2019-04-16 15:00] marcelomorgado commented on #289
Just finished the account persistence test.
The account was deleted after reinstalling the app from Google Play.

[2019-04-16 15:04] pcowgill commented on #289
The account was deleted after reinstalling the app from Google Play.

Okay good, that’s as expected. I’ll try it again on iOS

[2019-04-16 15:07] pcowgill commented on #289
Weird, the same thing happened again. I wonder if it’s an iOS 12 change. Maybe something specifically about `SecureStore`?

[2019-04-16 15:18] marcelomorgado commented on #289
Yes, seems that it's related to the key chain ([refs](https://github.com/expo/expo/issues/1436#issuecomment-394867639)) I'm looking for a way to solve it.

[2019-04-16 15:25] pcowgill commented on #289
@marcelomorgado Thinking on this a little more, in a way it's actually nice if I don't lose my private keys just from uninstalling the app if I were using this in "production". So maybe we want to get Android to work this way too and then just offer an option to manually purge the account from within the app?

[2019-04-16 16:00] marcelomorgado commented on #289
Here are what I've found until now:
- Since Android 6, [some app data are also stored on the cloud](https://developer.android.com/guide/topics/data/autobackup.html) (allowBackup option on the manifest);
- Seems that `Expo` has no way to set up the android backup but seems that is enabled by default ([refs](https://forums.expo.io/t/clear-storage-on-app-uninstall-android/5733));
- Seems that the `Se

[2019-04-16 16:04] pcowgill commented on #289
Yep, that would work if we want to go this route!

Hmm yes, this would be a bigger effort then - so maybe we go with option 1 and keep this as an separate issue? We'd have to get fancy about querying for all past transactions involving that account to rebuild the actions state OR keep everything in `SecureStore`, but that might not scale well.

[2019-04-16 16:09] pcowgill commented on #289
Hmm, we'll need to decide whether most users would want us to have this disabled or not.

https://expo.canny.io/feature-requests?search=clear+storage+on+app+uninstall

Hmm, we'll need to decide whether most users would want us to have this disabled or not. In the meantime all we need to do is find any way for testers to be able to go through the onboarding flow again if they want.

Yep, sounds goo

[2019-04-16 16:56] pcowgill opened #294 "Dark mode"

[2019-04-16 16:57] marcelomorgado opened #295 "Force account removal after app uninstallation"
iOS is keeping the user's account after app uninstallation (Related to: https://github.com/tasitlabs/tasit/issues/289#issuecomment-483706543).
This behavior happens with `SecureStore` only. To solve it, alike `isFirstAppUse` should be persisted on `AsyncStore` and if the condition ` isFirstAppUse && retrieveEphemeralAccount() != null` the stored account should be removed.

[2019-04-16 16:58] marcelomorgado commented on #289
Yes, I agree.
Extracted to: https://github.com/tasitlabs/tasit/issues/295
Renaming this issue (and moving to 0.2.0)

[2019-04-16 17:02] pcowgill commented on #295
Might be worth noting for posterity that this issue is a short-term solution, and we might not keep this behavior in the long run

[2019-04-16 17:04] pcowgill commented on #289
Thanks. Also noting that whenever we work on this issue, we'd want an in-app button to clear the account and start over.

[2019-04-16 17:43] #291 closed

[2019-04-16 18:01] marcelomorgado opened #296 "Persist AccountInfo.creationActions state"
- Persist `AccountInfo.creationActions` state (refs: https://github.com/tasitlabs/tasit/pull/293#issuecomment-483665892)
- ~~Tiny style change (refs: https://github.com/tasitlabs/tasit/pull/293#discussion_r275916140)~~

[2019-04-16 18:18] pcowgill commented on #296
Once we address this I think we can publish a new version

[2019-04-16 18:29] marcelomorgado commented on #296
I'm wondering if it's the right moment to introduce a middleware. What do you think? Worth work on that right now?

[2019-04-16 18:40] pcowgill commented on #296
I wondered the same thing. Maybe let’s decide based on how time-consuming it looks like it would be to switch after looking at the docs for the middleware we’d like to use

[2019-04-16 18:41] pcowgill commented on #296
One downside of using a redux-specific middleware would be if we want to move over to React Context at some point

[2019-04-16 18:45] marcelomorgado commented on #296
A question:
What do we need is to persist on local store the current state of the `accountInfo` object after every change. To do that, we should have a function after each `updateActionForAccountCreationStatus` and `setAccountCreationStatus` call (or at least on the end of each step) ([code for reference](https://github.com/tasitlabs/tasit/blob/ca55a44be00e74a5fa79927949a980fc0af11d02/decentraland

[2019-04-16 18:48] pcowgill commented on #296
Why do we need to access the current state from `_onboarding()`?

[2019-04-16 18:49] pcowgill commented on #296
I think we would want a reducer-like approach where we merge the info that changed with the preexisting state. Maybe the persistence could even happen in the existing reducer?

[2019-04-16 18:51] marcelomorgado commented on #296
I was thinking to do somethink like that:

[code]

[2019-04-16 18:54] marcelomorgado commented on #296
I've just remembered that using `store.getState()` might work but isn't seems a good practice.

[2019-04-16 18:57] pcowgill commented on #296
Thoughts on this?

[2019-04-16 18:58] pcowgill commented on #296
I was thinking that the state would be persisted as a result of calling `updateActionForAccountCreationStatus(FUNDING_WITH_ETH, action);` and not as a separate step.

[2019-04-16 19:03] pcowgill commented on #296
If we put this logic in the reducer where we already have state, this wouldn't be necessary

[2019-04-16 19:05] marcelomorgado commented on #296
Hmm, some points here:
- The `redux` [docs recommend](https://redux.js.org/basics/reducers#handling-actions) that the reducers must be pure functions.
- The reducers are sync functions, it might work since we'll not need to wait for the store function but we won't be able to handle with exceptions.

So, it might work but isn't seems a good practice.

[2019-04-16 19:06] marcelomorgado commented on #296
Yes

[2019-04-16 19:07] marcelomorgado commented on #296
Agree

[2019-04-16 19:09] pcowgill commented on #296
Okay, so maybe the way to go is this:

We always call any given action from within a component via a wrapper function that first calls the sync action and then calls the async storage persistence function. Both the sync reducer function called as a result of the action and the async storage persistence function internally use only the incoming data and merge it with any data they already have.

On

[2019-04-16 19:10] pcowgill commented on #296
But if you can think of any way to keep the scope for this issue from getting too large, I'm all ears

[2019-04-16 19:16] pcowgill commented on #296
Is this the middleware we would use if we went the middleware route? https://github.com/rt2zz/redux-persist

[2019-04-16 19:23] marcelomorgado commented on #296
I'm not sure if I've got it. Did you mean to get the pre-account-creation state as `_onboarding()` prop and updating it manually (same as done by the reducers) after every state change?

[2019-04-16 19:25] marcelomorgado commented on #296
I'll take a look, will be nice to use a simple solution with a short learning curve since we'll replace it on mid-term.

[2019-04-16 19:33] pcowgill commented on #296
Hmm, I don't think that's what I mean. I was referring mostly to the actions side of things, adding each new action one by one without needing to fetch all previous actions in order to do so. So directly mutating the actions inside of the accountInfo object rather than the entire `accountInfo `object (since those bits of state could be separated out if we wanted).

The `_onboarding()` function wou

[2019-04-16 19:38] pcowgill commented on #296
So something like this:

[code]

[code]

And `persistActionForAccountCreationStatus` just pushes a new key to the persistent storage without needing to fetch all the keys that are already stored there

[2019-04-16 19:40] marcelomorgado commented on #296
Hmmmmm got it now.

[2019-04-16 19:42] marcelomorgado commented on #296
I'll think a little bit about which path to use.

[2019-04-16 20:19] pcowgill commented on #296
Given that the actions have methods that can be called on them, I wonder how that would be treated when persisting them

[2019-04-16 20:22] pcowgill commented on #296
The other option is getting the tx for the account from the blockchain without persisting them. This could be done using past transactions for that account or by looking up state from the smart contracts without getting the transactions themselves (but that would break the action-summing math for the progress bar)

[2019-04-16 20:46] marcelomorgado commented on #296
I've thought a while about it:

- I've taken a look at [`redux-persist`](https://github.com/rt2zz/redux-persist), I think that isn't a good choice for us since it's a `redux` coupled project and we would have to rewrite our codebase related to persistence.
- I think that keeping using short-term solutions will make our code less readable;
- I've made a tryout using a custom middleware to intercept

[2019-04-16 21:10] pcowgill commented on #296
That all makes sense to me and sounds good!

[2019-04-16 21:33] pcowgill opened #299 "Show account balance and Etherscan link for address on My account screen"

[2019-04-16 21:34] pcowgill commented on #230
If you agree, feel free to close this

[2019-04-16 21:35] pcowgill opened #300 "Show Etherscan links for purchased land"

[2019-04-16 21:37] pcowgill commented on #300
I guess this may be a duplicate of this issue https://github.com/tasitlabs/tasit/issues/173

[2019-04-16 21:37] pcowgill commented on #299
I guess this may be a duplicate of this issue #173

[2019-04-16 21:38] pcowgill commented on #299
Oh, and part of it is a duplicate of this issue https://github.com/tasitlabs/tasit/issues/162

[2019-04-16 21:39] pcowgill commented on #233
Is this a duplicate of https://github.com/tasitlabs/tasit/issues/151?

[2019-04-17 09:24] marcelomorgado commented on #230
Ok. Closing.

[2019-04-17 09:24] #230 closed

[2019-04-17 12:12] marcelomorgado commented on #300
Yes, it is. Closing this.

[2019-04-17 12:12] #300 closed

[2019-04-17 14:17] pcowgill commented on #196
If we were to do this, we could have a new `wallet/` dir, and use `tasit-account` and `tasit-action` from the Tasit SDK (and maybe `tasit-contract-based-account` depending on whether we're just testing deep-linking or reacting based on the deep-link data payloads in the way the Gnosis Safe might)

[2019-04-17 15:29] pcowgill commented on #24
@marcelomorgado I reworded the name of this issue so it wasn't a duplicate with https://github.com/tasitlabs/tasit/issues/20

[2019-04-17 15:41] #296 closed

[2019-04-17 15:46] #290 closed

[2019-04-17 15:59] pcowgill commented on #295
This PR is probably worth making this week

[2019-04-17 17:03] marcelomorgado opened #303 "BUG: Red screen for app with already setup account"
Since the last PR that introduced accountInfo.crationStatus and accountInfo.creationActions storage, when none of these values are found the app is throwing a fatal error (red screen).
The retrieved values should be tested before use it.

[2019-04-17 17:04] #303 closed

[2019-04-17 17:20] pcowgill opened #305 "Add a way to trigger onboarding flow from within my account screen"

[2019-04-17 17:22] marcelomorgado opened #306 "Restore account creation state from blockchain (for old accounts)"
Since until now, we were only storing the `ephemeralAccount` on local storage the `MyAccountScreen` is showing a buggy '25%' state (25% the progress for an account without funds). It will not happen for new accounts since from now we are storing entire account create state. For old accounts we need to check the blockchain to restore the state.

Note: `isOldAccount = retrieveAccount() !== null && r

[2019-04-17 20:16] pcowgill opened #308 "Catch error of insufficient funds for transaction"
[15:14:45] Error emission without listener: Error: Action with error: sender doesn't have enough funds to send tx. The upfront cost is: 7000000000000000 and the sender's account only has: 0
- node_modules/expo/build/environment/logging.js:25:23 in warn
- ... 16 more stack frames from framework internals

[2019-04-18 14:00] #261 closed

[2019-04-18 14:50] pcowgill commented on #173
@marcelomorgado Let's reopen this until we get the eye fully right-aligned with the land image

![Simulator Screen Shot - iPhone Xʀ - 2019-04-18 at 09 47 35](https://user-images.githubusercontent.com/2731712/56369621-5721ee00-61bf-11e9-884a-a86e68e183d4.png)

[2019-04-18 14:54] pcowgill opened #309 "When user doesn't have account yet, buy button shouldn't say same thing as buy button they eventually get to actually use"
For first time users, it makes it confusing that after they get through the account prep flow they have to click `Buy` in exactly the same way they already did a few screens ago.

![Simulator Screen Shot - iPhone Xʀ - 2019-04-18 at 09 52 25](https://user-images.githubusercontent.com/2731712/56369899-d57e9000-61bf-11e9-9ab9-c48a849814d2.png)

[2019-04-18 15:20] pcowgill commented on #309
We're already checking if account is defined on this screen, so we can use that same boolean to conditionally change the text of the button too

[2019-04-18 15:21] pcowgill commented on #309
Maybe a bit of text above the button with the button saying "set up account":

Want to buy this land?
`SET UP ACCOUNT`

[2019-04-18 15:29] pcowgill commented on #188
@marcelomorgado In the long run, I do think we want to `detect when the app has been idle for a bit and generate an account only if the user has used the app enough`. In the short run, it might show off our simple onboarding flow better if we had this happen behind the scenes while they were browsing land.

If you agree, let's make another issue for that.

Would the account generation step block t

[2019-04-18 16:53] marcelomorgado commented on #267
To address the second problem, should we load assets on app startup (from App.js) or add a `status` field to the `myAssets` state and keep them during the reload from blockchain?

[2019-04-18 17:05] greenkeeper[bot] opened #311 "An in-range update of expo-cli is breaking the build 🚨"
## The devDependency [expo-cli](https://github.com/expo/expo-cli) was updated from `2.14.0` to `2.15.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fexpo-cli-2.15.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

expo-cli is a devDependency of this proje

[2019-04-18 17:16] pcowgill commented on #311
@marcelomorgado Hmm, this is the error. Any idea what to make of it?

[code]

[2019-04-18 17:19] marcelomorgado opened #312 "Update TasitSDK to 0.0.17"

[2019-04-18 17:20] pcowgill commented on #267
Yeah, this fix seems important. Maybe doing both would be a good defensive programming practice.

Do you think fetching them on app startup should gate the app finishing loading or no? I could see an argument either way.

[2019-04-18 17:23] pcowgill commented on #311
Maybe the problem is that greenkeeper isn't triggering an update of package-lock.json for some reason?

The feature branch in this PR is what I would have wanted out of the feature branch mentioned by this greenkeeper issue.

https://github.com/tasitlabs/tasit/pull/314

[2019-04-18 17:26] #312 closed

[2019-04-18 18:28] #311 closed

[2019-04-18 22:10] pcowgill opened #316 "Screen on first app load before the land list that says Decentraland is XYZ"

[2019-04-18 22:11] pcowgill opened #317 "Consider moving from hamburger drawer menu to tab nav at bottom"

[2019-04-19 00:13] pcowgill commented on #295
@marcelomorgado If it ends up being easier, a button on the my account screen that lets you manually purge your account would work too. That might even be a better UX

[2019-04-19 14:13] marcelomorgado opened #318 "Load account progress from blockchain (MyAccountScreen)"
The `MyAccountScreen` is looking to `redux` state to show creation progress, use already wrote code (from helpers/index.js > restoreCreationStateOfAccountFromBlockchain) to check progress from the blockchain.

Should this screen update the redux state (same logic as MyAssetsScreen)?

[2019-04-19 14:31] pcowgill commented on #20
Depending on what we decide in issue https://github.com/tasitlabs/tasit/issues/197 , this one might become obsolete

[2019-04-19 14:32] pcowgill commented on #318
Yeah, I think so, if what we get differs from what we have stored locally. Perhaps we can even share some logic with the other screen on how to handle this "diff-ing"

[2019-04-19 14:35] pcowgill commented on #318
I'll note that we'll continue to show the tx links using the `actionId`'s that we originally persisted when sending the Tasit actions, and we don't yet want to go down the rabbit hole of finding those tx from the blockchain using the addresses we know.

So when we persist the local account state based on the state of the blockchain, let's be sure not to overrwite `actionId`'s

[2019-04-19 15:19] pcowgill opened #319 "Show recent purchases of land by other people"
Kind of a Venmo-style approach.

1. It makes it feel less like a "ghost town" in the app.
2. It gives give context to parcel appreciation over time. Could be a good way to give new users context with regard to price discovery.

[2019-04-19 15:28] pcowgill opened #320 "Denote prices of land in $ using realtime price feeds"
Advanced users would still have the option to drill in and see the price denoted in MANA

[2019-04-19 15:34] pcowgill opened #321 "Change "My account" screen to "My profile""

[2019-04-19 18:01] #306 closed

[2019-04-19 19:52] pcowgill commented on #295
Curious for your thoughts on this

[2019-04-19 20:03] pcowgill opened #327 "Make sure my profile screen content has spacing on the right"
![IMG_3940](https://user-images.githubusercontent.com/2731712/56441922-4e5f1400-62b4-11e9-83a9-dfd74b364860.PNG)

[2019-04-19 20:15] marcelomorgado commented on #295
I was thinking about it, maybe worth forcing the removal to keep the same behavior on both iOS/android.

[2019-04-19 20:26] pcowgill commented on #295
Yeah, that certainly will make it easier to give advice to testers of the app

[2019-04-22 13:08] #321 closed

[2019-04-22 13:42] #173 closed

[2019-04-22 14:47] marcelomorgado commented on #267
I'm not sure if fetching on startup will gate the app but it'll at least use more network resources.
I'm thinking to add the `status` field for now because it should be enough to solve this bug.

[2019-04-22 14:57] pcowgill opened #332 "Let users opt in to analytics in the app"
For improving the product, it would be useful to know how long each account funding step is taking for real users, when users leave the app before getting to an important screen, etc.

But it would be _essential_ that we only collect this data if the user very clearly agrees to provide it after understanding what we would be collecting, and we would have to steward this data responsibly (by web 3

[2019-04-22 15:29] pcowgill commented on #267
I think in some cases using more network resources to improve UX is worth it if there's a >70% chance the user will experience that screen.

Sure, that sounds good.

[2019-04-22 15:31] pcowgill commented on #267
I think the pattern to follow here is that there's a redux state update for each network request when request is initiated, when it succeeds, and when it fails due to timeout or error.

[2019-04-22 20:48] #309 closed

[2019-04-23 00:39] pcowgill opened #335 "Bump version and publish latest UI improvements and bux fixes"
Once https://github.com/tasitlabs/tasit/pull/333 and https://github.com/tasitlabs/tasit/pull/331 are merged

[2019-04-23 00:47] #295 closed

[2019-04-23 04:20] pcowgill opened #336 "Extract My profile screen components to shared dir"

[2019-04-23 04:26] pcowgill commented on #299
Closing as a duplicate of this one, since #173 was closed when we addressed the other part of that issue

[2019-04-23 04:26] #299 closed

[2019-04-23 04:36] pcowgill opened #337 "On the account nickname page, add more info explaining how that will be used behind an information ℹ️ button"

[2019-04-23 11:27] marcelomorgado commented on #295
Should we keep this open until this feature still under preparation?

[2019-04-23 13:43] pcowgill commented on #295
Up to you. We can also create a new issue.

[2019-04-23 14:00] marcelomorgado opened #338 "Force account removal after app uninstallation"
- iOS apps aren't removing `SecureStorage` after app uninstallation.
- Since v0.0.18 app is storing the `isFirstAppUse` flag (Using AsyncStorage).

The next step is to remove users' account if it already exists and is the first use of the app (In other words: `afterRemoval = account !== null && isFirstAppUse`.

This code is ready but is commented (App.js)

Extracted from: https://github.com/tasitl

[2019-04-23 14:00] marcelomorgado commented on #295
Extracted to: https://github.com/tasitlabs/tasit/issues/338

[2019-04-23 16:51] pcowgill opened #339 "Add screenshots to Decentraland README"
(Since we regularly share a directly link to this dir)

[2019-04-23 17:17] pcowgill commented on #265
@marcelomorgado How do you think this behaves right now?

[2019-04-23 17:17] pcowgill commented on #265
And since we’re awaiting nonces for now rather than listening to events, in particular I mean more so with how it works now, not for events. Thanks!

[2019-04-24 01:40] #267 closed

[2019-04-24 09:54] marcelomorgado opened #341 "Having multiple reducers reacting to a single action"
The `BuyLandScreen` component has a lot of action functions passed to it.

Refs: https://github.com/tasitlabs/tasit/pull/333#discussion_r277419928
Refs: https://egghead.io/lessons/react-respond-to-a-single-redux-action-in-multiple-reducers

[2019-04-24 09:58] marcelomorgado opened #342 "Open threads from PR #333"
[Rename `userAction` reducer](https://github.com/tasitlabs/tasit/pull/333#discussion_r277878914)
[Use keyed-object for `useraction`](https://github.com/tasitlabs/tasit/pull/333#discussion_r277883320)
[Change a message from info to warn](https://github.com/tasitlabs/tasit/pull/333#discussion_r277888035)

[2019-04-24 14:07] pcowgill commented on #335
@marcelomorgado I think the last commit from this PR https://github.com/tasitlabs/tasit/pull/324 is the best one test to test an upgrade from to make sure there are no problems with the changes in persistent storage

[2019-04-24 14:07] pcowgill commented on #335
So this commit `5cc4c82a7738a0747ab4535dc46531d91cc7c6cb`

[2019-04-24 14:46] pcowgill opened #344 "Regressions in develop branch: No land purchase link for land purchased in old version. 25% account completeness for account set up in old version."
Regressions in develop branch:

1. No land purchase link for land purchased in old version.

![Simulator Screen Shot - iPhone Xʀ - 2019-04-24 at 09 43 05](https://user-images.githubusercontent.com/2731712/56668702-9b0c6b80-6675-11e9-8cf0-963ba57e5a3c.png)

2. 25% account completeness for account set up in old version.

![Simulator Screen Shot - iPhone Xʀ - 2019-04-24 at 09 43 10](https://user-imag

[2019-04-24 14:48] pcowgill commented on #344
To reproduce this:

* check out this commit 5cc4c82a7738a0747ab4535dc46531d91cc7c6cb
* run app
* set up account and buy land
* quit app on device
* stop app with expo-cli
* check out `feature/open-threads-pr-333`
* start app with expo-cli
* start app on device

[2019-04-24 15:13] pcowgill commented on #344
One possibility to prevent this from being a time sink is to force reset the accounts of all testers with this upgrade

[2019-04-24 17:11] marcelomorgado commented on #344
Here is the fix of both bugs: https://github.com/tasitlabs/tasit/pull/343/commits/0cb0df52f7192740b0a3b657968be424f9203566

The bug (2) is occurring because of buggy store code. Beucase of that I think that turn on our `isFirstUse` flag is a way to go. And reset all account from now. Right?

[2019-04-24 17:13] pcowgill commented on #344
Yep, agreed!

[2019-04-24 17:26] pcowgill commented on #344
@marcelomorgado So once you make that change I'll run another test as described earlier in this issue?

[2019-04-24 17:56] marcelomorgado commented on #344
Okay

[2019-04-24 19:10] marcelomorgado commented on #335
Are we use that commit or the `develop` branch after merging fixes and reset accounts?

[2019-04-24 19:15] pcowgill commented on #335
@marcelomorgado Oh, good question. I guess that branch may not have been up to date with develop before merging it. Did the fixes you have in mind hit develop before or after merging that PR? Either way, we'll want the last commit from right before we actually published

[2019-04-24 19:16] pcowgill commented on #335
It does look like develop was merged into that branch though, so I think it should have most of the fixes you're referring to if they were in `develop` before that PR https://forum.aragon.org/t/funding-proposal-aragon-native-mobile-app/811/7?u=pcowgill

[2019-04-24 19:54] marcelomorgado commented on #335
I think that I wasn't clear on my question.
I've meant if we will publish a new version from this commit https://github.com/tasitlabs/tasit/commit/5cc4c82a7738a0747ab4535dc46531d91cc7c6cb
Or using the updated code with last changes (account reset) from branch https://github.com/tasitlabs/tasit/pull/343
I've made that question because I've thought that commit has the `storeIsFirstUse(false)` comman

[2019-04-24 19:58] pcowgill commented on #335
Oh no, we definitely wouldn't want to publish from 5cc4c82. That's the commit that I was saying represent what's already been published for testing the upgrade path. So we'd use that as the `BEFORE` in a `BEFORE` and `AFTER` data migration test on our devices before publishing.

We would want to publish the code with the last changes for sure.

Yeah, it would have been bad if we published an inter

[2019-04-24 20:00] marcelomorgado commented on #335
Ohh I see.

[2019-04-24 20:00] pcowgill commented on #335
@marcelomorgado So does that commit work as the `BEFORE` commit then? If so, I'll begin testing and use the open PR as the `AFTER` commit

[2019-04-24 20:02] marcelomorgado commented on #335
Okay

[2019-04-24 20:13] greenkeeper[bot] opened #346 "An in-range update of eslint-plugin-react-native is breaking the build 🚨"
## The devDependency [eslint-plugin-react-native](https://github.com/intellicode/eslint-plugin-react-native) was updated from `3.6.0` to `3.7.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-plugin-react-native-3.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the

[2019-04-24 20:54] pcowgill commented on #215
Or this lib https://github.com/kmagiera/react-native-reanimated

[2019-04-24 21:38] #335 closed

[2019-04-24 22:04] pcowgill opened #349 "Persist the username the user picks and show it on My profile screen"

[2019-04-25 01:07] pcowgill opened #350 "Buy land screen: Vertical position of land image and button shouldn’t change based on loading component"

[2019-04-25 01:08] pcowgill opened #351 "Purchased land Etherscan link using string “actionId” rather than the actionId"

[2019-04-25 01:36] pcowgill commented on #351
![IMG_3967](https://user-images.githubusercontent.com/2731712/56703888-932de500-66d0-11e9-8b2a-1de99d53506e.PNG)

[2019-04-25 01:37] pcowgill commented on #350
![IMG_3968](https://user-images.githubusercontent.com/2731712/56703914-b3f63a80-66d0-11e9-816a-416e2fe39ff9.PNG)

[2019-04-25 01:38] pcowgill opened #352 "Clipping bottom of text of privacy policy link"
![IMG_3961](https://user-images.githubusercontent.com/2731712/56703953-e99b2380-66d0-11e9-8aaa-5cb017ab05af.PNG)

[2019-04-25 02:55] pcowgill commented on #351
@marcelomorgado This is probably a one-line fix, so we should make a tiny PR and publish tomorrow if that works for you. Then back to the SDK changes for sure!

[2019-04-25 12:08] #351 closed

[2019-04-25 14:02] marcelomorgado opened #354 "Bump version and publish"

[2019-04-25 14:19] #354 closed

[2019-04-25 15:09] marcelomorgado opened #356 "Bump version and publish"

[2019-04-25 15:22] #356 closed

[2019-04-25 16:13] pcowgill opened #358 "During account funding, make it clearer it's in a loading state using a spinner or cooler, more custom loading indicator"

[2019-04-25 16:15] pcowgill opened #359 "Potential bug with account transiently seemingly having disappeared"
Tester:
Just tried out the Decentraland app. It all worked for me until I closed the app. Once I reopened it it appeared to think I hadn't configured an account

If it helps, I'm on a Google Pixel 2 XL

Me:
All you did is close the app?

Tester:
Yeah

Me:
Any chance you'd be up for checking if you can reproduce that behavior on your device?

Tester:
👍

This time it stuck. I'm still logged in

Yeah

[2019-04-25 18:13] pcowgill commented on #359
Got the response on the final question.

Tester:
Both of those last two things were true for me

[2019-04-25 20:22] marcelomorgado commented on #359
Is he a new tester? Isn't an expected reset account behavior?

[2019-04-25 20:33] marcelomorgado commented on #188
1) To clarify: Should we create a short-term issue to trigger the account set up on the app startup?
2) Not sure, I theory if we wrap the account creation process with an async function it should run in the background. But maybe it'll block the user during the 20segs of generation step (`Account.create()`), even that happens we can try some trick to solve that.

[2019-04-25 21:21] pcowgill commented on #359
I believe it was a completely new tester, so that’s why it’s surprising. I can try to confirm that, though

[2019-04-25 21:55] pcowgill commented on #188
1a. Either that or make it manually triggerable from the `My profile` screen.

1b. Maybe we decouple account generation and funding too? Open to your creative input here.

1c. I wonder if all of the funding happening behind the scenes sets unreasonable expectations for the "real" flow we'll eventually use. Maybe not if the account is funded with some tokens used to pay for a few meta-tx, anyway. B

[2019-04-26 01:32] pcowgill commented on #359
Tester:
"I believe today was the first day I tried using the app. There is a chance I opened it previously but did nothing with it"

[2019-04-26 12:44] marcelomorgado commented on #188
1a. Makes sense;
1b, 1c. Since without expo-crypto, the account generation is spending about 20secs of waiting, sounds good to me decouple these steps and trigger the generation on the startup (if that not impacts the UX performance).
2. We can make some tryouts on that. As the first step, we can try to move the `Account.create()` from sign-up flow to start up.

Make sense?

[2019-04-26 13:55] pcowgill commented on #188
1b, 1c. Okay, awesome. FYI on my iPhone X it's a little faster than that.

2. Okay. yep, let's try a tentative PR with just that change.

Sounds good. Thanks!

[2019-04-26 23:04] #352 closed

[2019-04-27 13:40] marcelomorgado commented on #359
I'll try to reproduce that error this week.

[2019-04-29 17:26] pcowgill commented on #285
This is an important one because it's early on in the user's experience, and they spend a long time looking at this screen

[2019-04-29 18:18] pcowgill commented on #344
@marcelomorgado I think we can close this

[2019-04-29 20:15] marcelomorgado commented on #344
Ok. Resolving.

[2019-04-29 20:15] #344 closed

[2019-04-29 20:21] #327 closed

[2019-04-29 20:21] #339 closed

[2019-05-01 03:16] pcowgill commented on #265
@marcelomorgado Curious about this when you get a chance. “I’m not sure” is a perfectly fine answer, though! Thanks!

[2019-05-01 03:19] pcowgill commented on #233
Not if I rename it to just be about optimistic updates. Although at this point we are using that for buying land. Just not handling errors + 7 confirmations

[2019-05-01 03:21] pcowgill commented on #151
@marcelomorgado I think this will follow nicely after the SDK updates. Using conf’s is worth considering in combination with or as an alternative to using events

[2019-05-01 03:30] pcowgill commented on #151
(These SDK updates https://github.com/tasitlabs/TasitSDK/issues/219)

[2019-05-02 16:03] marcelomorgado commented on #265
Sorry for the delay.
I'm not sure. I need to look deep into that to give a correct answer.

[2019-05-02 16:04] pcowgill commented on #265
Sounds good - thanks

[2019-05-02 16:04] pcowgill commented on #265
We can probably test this with a few choice log statements in the local dev env

[2019-05-02 16:18] pcowgill commented on #151
Great! And yep, agreed that those are gating. Thanks for sharing the specific issues.

[2019-05-03 07:26] greenkeeper[bot] opened #365 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.12.4` to `7.13.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-plugin-react-7.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

esl

[2019-05-03 13:54] mokn opened #366 "Are you new to Ethereum workflow not working"
Not sure if meant to import account or create new one, but account creation stuck on this screen. Tapping button will not move flow forward, iphone 10
![IMG_3012](https://user-images.githubusercontent.com/4922823/57141972-74db7f80-6d89-11e9-9be6-47060637427b.jpg)

[2019-05-03 20:27] pcowgill commented on #366
@mokn Thanks for pointing this out! That's just there as a placeholder screen for now, but we should have it clearly marked as such or remove it.

[2019-05-07 17:07] marcelomorgado commented on #151
Updating:

~~https://github.com/tasitlabs/TasitSDK/issues/368~~ Closed
https://github.com/tasitlabs/TasitSDK/issues/367 fixed on PR https://github.com/tasitlabs/TasitSDK/pull/383

[2019-05-07 17:11] marcelomorgado commented on #151
I think that issue https://github.com/tasitlabs/TasitSDK/issues/384 should be solved as well.

[2019-05-07 18:42] pcowgill commented on #151
Great!

[2019-05-07 18:42] pcowgill commented on #151
Yes, that makes sense

[2019-05-08 10:32] marcelomorgado commented on #151
All gating issues were solved.

[2019-05-08 20:16] pcowgill commented on #338
@marcelomorgado I think we can uncomment this line of code

[2019-05-08 20:24] pcowgill commented on #196
This will also help with testing detecting presence of a wallet app on the device from within a mobile dapp

[2019-05-09 09:28] marcelomorgado commented on #341
Further docs that may help:
https://github.com/reduxjs/redux/issues/911#issuecomment-149192251
https://itnext.io/3-small-tips-for-better-redux-performance-in-a-react-app-9cde549df6af (item 3)

[2019-05-09 18:15] pcowgill commented on #78
@mseijas I think I like the one at the lower right the best!

Good feedback about the favicon, etc. Thanks again!

[2019-05-09 18:26] marcelomorgado opened #372 "Update to TasitSDK 0.0.18 and use the new API throughout"
The latest version of `tasit-sdk` has some break changes:
- `action.waitForNonceToUpdate()` is now `action.waitForOneConfirmation()`;
- `action` now is sent using `send()` function.
- `Contract.wallet` is now `Contract.account` (getWallet, setWallet, removeWallet functions).

[2019-05-09 18:38] pcowgill commented on #372
Technically I already merged that greenkeeper PR to update the SDK to 0.0.18, so the main changes needed here are to use the new API

[2019-05-09 21:50] pcowgill opened #374 "Decide whether lerna is warranted for shared deps between multiple react native apps"

[2019-05-10 03:23] #98 closed

[2019-05-10 04:47] pcowgill commented on #372
As of PR https://github.com/tasitlabs/tasit/pull/378,

~action.waitForNonceToUpdate() is now action.waitForOneConfirmation();~
~Contract.wallet is now Contract.account (getWallet, setWallet, removeWallet functions).~
~action now is sent using send() function.~

[2019-05-10 05:58] pcowgill commented on #45
Closing this

[2019-05-10 05:58] #45 closed

[2019-05-10 05:58] pcowgill commented on #45
(It was addressed in this PR https://github.com/tasitlabs/tasit/pull/371)

[2019-05-10 06:16] pcowgill opened #380 "Fix npm install test failure"
[code]

[2019-05-10 13:54] #372 closed

[2019-05-10 13:54] #380 closed

[2019-05-13 04:14] greenkeeper[bot] opened #383 "An in-range update of yargs is breaking the build 🚨"
## The devDependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a devDependency of this project. It **mi

[2019-05-14 14:25] pcowgill opened #384 "Account creation -> land purchase not working with SDK 0.0.18"
@marcelomorgado I'm not getting past account generation step after updating to SDK `0.0.18` in this PR https://github.com/tasitlabs/tasit/pull/378

[2019-05-14 16:12] pcowgill commented on #384
Hmm, never mind. After clearing all React-Native-related caches, reinstalling node_modules, resetting hardware settings on the Simulator, and stopping and starting ganache, it's working. Closing this.

[2019-05-14 16:12] #384 closed

[2019-05-14 16:14] pcowgill opened #385 "Two children with the same key"
`Warning: Encountered two children with the same key, `%s`. Keys should be unique so that components maintain their identity across updates. Non-unique keys may cause children to be duplicated and/or omitted — the behavior is unsupported and could change in a future version.%s, 0x0e30f72f435ee22b208f458f5bbd39435d33dea2e308edd9b8e96c4805a2b28c, `
[code]

[2019-05-14 17:01] pcowgill commented on #385
Hmm, actually it seems like the error might be related to duplicate land parcels/estates after running the `npm start` script from the Tasit SDK? Because `LandForSaleList` shows up in the stack trace above. I'll see if this issue comes up again.

[2019-05-14 17:12] pcowgill commented on #385
Okay, I figured out how to reproduce the error. It happens after creating and funding an account and approving the marketplace, right when you click the `Buy` button

[2019-05-14 17:14] pcowgill commented on #385
So the handling of state after the purchase seems to be the issue - when you first arrive on the `ListLandForSaleScreen`, it works fine.

[2019-05-14 18:34] pcowgill commented on #385
Then again, the key `0x0e30f72f435ee22b208f458f5bbd39435d33dea2e308edd9b8e96c4805a2b28c` sure seems like the ephemeral account address

[2019-05-14 19:12] pcowgill commented on #385
It might be action actionId though. Checking with logs now.

[2019-05-14 19:16] pcowgill commented on #385
It appears to be the `landForSale` id that's a duplicate. See `0x2f...` in both of these images

![Simulator Screen Shot - iPhone Xʀ - 2019-05-14 at 14 14 32](https://user-images.githubusercontent.com/2731712/57725461-d1288400-7652-11e9-9f87-8ad32b7a0c51.png)
![Screenshot 2019-05-14 14 14 52](https://user-images.githubusercontent.com/2731712/57725462-d1288400-7652-11e9-82fd-bda9a176b890.png)

[2019-05-14 19:32] pcowgill commented on #385
Okay, I think I've got it. We're both appending and prepending the same piece of land for sale, `0x5e...` in this case:

[code]

[2019-05-14 19:53] pcowgill commented on #385
Here is the error that got us into the state of mismanaging local land for sale state in the error path:

`triggered too many arguments in interface function safeExecuteOrder (count=5, expectedCount=4, version=4.0.27)`

[2019-05-14 20:03] pcowgill opened #387 "Make sure buy land error path is handled by adding an extra arg to execute order"

[2019-05-14 20:05] pcowgill commented on #372
@marcelomorgado The other major change we forgot about is that function calls don't expect `gasParams` anymore

[2019-05-14 20:05] pcowgill commented on #372
I made this change in this PR https://github.com/tasitlabs/tasit/pull/386

[2019-05-16 03:11] ramiasg commented on #380
`rm -rf node_modules/react-native-safe-area-view/.git/
`
Solved For Me

[2019-05-16 03:36] pcowgill commented on #380
@ramiasg Thanks - that only works for a single npm install, though. I have to redo it every time a new package is installed

[2019-05-16 13:58] pcowgill commented on #380
@ramiasg It's fixed in this commit https://github.com/react-native-community/react-native-safe-area-view/commit/1f8d3897144fd6512e42c49a2be6f4a95c101515

[2019-05-16 14:00] pcowgill opened #389 "Reenable CI caching now that `react-navigation` dep isn't broken"

[2019-05-16 14:08] pcowgill commented on #387
This is the extra arg https://github.com/tasitlabs/tasit/pull/386/files#r283976658

[2019-05-16 14:42] #385 closed

[2019-05-16 15:43] pcowgill opened #391 "Update Android and iOS screenshots for Decentraland by Tasit"

[2019-05-18 02:26] #196 closed

[2019-05-18 02:49] pcowgill opened #392 "Add README for example wallet app used to test deep links"

[2019-05-18 02:52] pcowgill opened #394 "Create build of app pointing to non-default channel to test deep links from Decentraland"

[2019-05-18 03:22] pcowgill opened #395 "Handle navigating to example wallet tx tab without deep link"

[2019-05-18 06:01] pcowgill commented on #63
This can also be used to move it to the user’s wallet after having saved the address of the external, “proper” wallet in the Tasit app

[2019-05-20 13:49] pcowgill opened #398 "Fix alignment of the "connect wallet" button on "My profile" screen"

[2019-05-20 13:58] #392 closed

[2019-05-22 13:26] greenkeeper[bot] opened #399 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `22.5.1` to `22.6.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-plugin-jest-22.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-07-18 11:00] greenkeeper[bot] opened #405 "An in-range update of native-base is breaking the build 🚨"
## The dependency [native-base](https://github.com/GeekyAnts/NativeBase) was updated from `2.12.1` to `2.12.2`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fnative-base-2.12.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

native-base is a direct depende

[2019-10-01 19:12] pcowgill opened #408 "Mention that TypeScript support is on the way"

[2019-10-30 21:00] pcowgill opened #415 "Bump expo version"

[2019-11-05 17:36] pcowgill opened #418 "Move project over to TypeScript"
https://docs.expo.io/versions/latest/guides/typescript/

[2019-11-06 22:14] pcowgill opened #420 "Configure light/dark mode via Appearance API"
https://docs.expo.io/versions/latest/sdk/appearance/

[2019-11-07 16:04] pcowgill opened #422 "Begin moving over to React Hooks"

[2019-11-09 01:48] greenkeeper[bot] opened #426 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.18.2` to `1.19.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fprettier-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this p

[2019-11-11 03:02] greenkeeper[bot] opened #427 "An in-range update of ts-node is breaking the build 🚨"
## The devDependency [ts-node](https://github.com/TypeStrong/ts-node) was updated from `8.4.1` to `8.5.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fts-node-8.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-node is a devDependency of this projec

[2019-11-11 19:05] greenkeeper[bot] opened #428 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.6.1` to `2.7.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2F%40typescript-eslint%2Fparser-2.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the b

[2019-11-11 19:07] greenkeeper[bot] opened #429 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.6.1` to `2.7.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2F%40typescript-eslint%2Feslint-plugin-2.7.0).

This version is **covered** by your **current version range** and after updating it in your p

[2019-11-14 23:12] greenkeeper[bot] opened #431 "An in-range update of expo-cli is breaking the build 🚨"
## The devDependency [expo-cli](https://github.com/expo/expo-cli) was updated from `3.7.0` to `3.7.1`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fexpo-cli-3.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

expo-cli is a devDependency of this project.

[2019-11-15 10:41] greenkeeper[bot] opened #433 "An in-range update of react-native-progress is breaking the build 🚨"
## The dependency [react-native-progress](https://github.com/oblador/react-native-progress) was updated from `4.0.1` to `4.0.2`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Freact-native-progress-4.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react

[2019-11-17 01:20] greenkeeper[bot] opened #436 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `6.5.0` to `6.6.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-config-prettier-6.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-11-18 00:37] pcowgill opened #438 "Use Uniswap to quote prices in DAI/ETH"

[2019-11-18 00:39] #346 closed

[2019-11-18 00:39] #365 closed

[2019-11-18 00:39] #383 closed

[2019-11-18 00:40] #399 closed

[2019-11-18 00:41] #405 closed

[2019-11-19 05:59] pcowgill opened #440 "Wrap presentational function components in React.memo to improve performance"

[2019-11-19 06:04] pcowgill opened #441 "Move react-redux usage of connect for stateful screens/components over to hooks API"

[2019-11-19 14:19] pcowgill opened #442 "Move functions out of container components unless specifically for container event callbacks or dependency injection"

[2019-11-19 15:26] pcowgill opened #443 "Remove deprecated js scripts/helpers"

[2019-11-19 15:26] #422 closed

[2019-11-19 16:51] #440 closed

[2019-11-19 21:45] #426 closed

[2019-11-19 21:45] #427 closed

[2019-11-19 21:45] #428 closed

[2019-11-19 21:45] #429 closed

[2019-11-19 21:45] #431 closed

[2019-11-19 21:45] #433 closed

[2019-11-19 21:45] #436 closed

[2019-11-20 14:58] greenkeeper[bot] opened #448 "An in-range update of react-navigation-tabs is breaking the build 🚨"
## The dependency [react-navigation-tabs](https://github.com/react-navigation/tabs) was updated from `2.5.6` to `2.6.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Freact-navigation-tabs-2.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-navigat

[2019-11-21 16:22] greenkeeper[bot] opened #449 "An in-range update of @types/react-native is breaking the build 🚨"
## The devDependency [@types/react-native](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `0.60.22` to `0.60.23`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2F%40types%2Freact-native-0.60.23).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-11-22 12:24] greenkeeper[bot] opened #450 "An in-range update of ts-jest is breaking the build 🚨"
## The devDependency [ts-jest](https://github.com/kulshekhar/ts-jest) was updated from `24.1.0` to `24.2.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fts-jest-24.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-jest is a devDependency of this pro

[2019-11-22 19:01] greenkeeper[bot] opened #451 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.6.0` to `6.7.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-6.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **

[2019-11-22 22:43] greenkeeper[bot] opened #452 "An in-range update of expo-cli is breaking the build 🚨"
## The devDependency [expo-cli](https://github.com/expo/expo-cli) was updated from `3.8.1` to `3.9.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fexpo-cli-3.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

expo-cli is a devDependency of this project.

[2019-11-24 15:46] greenkeeper[bot] opened #453 "An in-range update of npm-check-updates is breaking the build 🚨"
## The devDependency [npm-check-updates](https://github.com/tjunnone/npm-check-updates) was updated from `3.2.1` to `3.2.2`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fnpm-check-updates-3.2.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

npm-check-upd

[2019-11-25 19:01] greenkeeper[bot] opened #454 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.8.0` to `2.9.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2F%40typescript-eslint%2Feslint-plugin-2.9.0).

This version is **covered** by your **current version range** and after updating it in your p

[2019-11-25 19:03] greenkeeper[bot] opened #455 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.8.0` to `2.9.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2F%40typescript-eslint%2Fparser-2.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the b

[2019-11-27 01:57] greenkeeper[bot] opened #456 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `23.0.4` to `23.0.5`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-plugin-jest-23.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-11-28 05:27] greenkeeper[bot] opened #457 "An in-range update of ts-node is breaking the build 🚨"
## The devDependency [ts-node](https://github.com/TypeStrong/ts-node) was updated from `8.5.2` to `8.5.3`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fts-node-8.5.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-node is a devDependency of this projec

[2019-11-29 08:08] greenkeeper[bot] opened #458 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.16.0` to `7.17.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-plugin-react-7.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

esl

[2019-12-11 06:04] #418 closed

[2019-12-11 06:04] #408 closed

[2019-12-11 06:05] pcowgill commented on #408
No longer relevant, as TypeScript support is here!

[2019-12-11 06:06] pcowgill commented on #420
Closing this as a duplicate of https://github.com/tasitlabs/tasit/issues/294

[2019-12-11 06:06] #420 closed

[2019-12-15 04:19] greenkeeper[bot] opened #466 "An in-range update of eslint-plugin-prettier is breaking the build 🚨"
## The devDependency [eslint-plugin-prettier](https://github.com/prettier/eslint-plugin-prettier) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-plugin-prettier-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-12-18 08:19] greenkeeper[bot] opened #468 "An in-range update of react-native-progress is breaking the build 🚨"
## The dependency [react-native-progress](https://github.com/oblador/react-native-progress) was updated from `4.0.2` to `4.0.3`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Freact-native-progress-4.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react

[2019-12-18 13:42] greenkeeper[bot] opened #469 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.23` to `24.0.24`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2F%40types%2Fjest-24.0.24).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jes

[2019-12-19 23:44] greenkeeper[bot] opened #470 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.15.1` to `1.15.2`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fmonorepo.enzyme-20191219233229).

This version is **covered** by your **current version range** and after upda

[2019-12-20 00:31] greenkeeper[bot] opened #471 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.10.0` to `3.11.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.15.1` to `1.15.2`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Fmonore

[2019-12-25 10:29] greenkeeper[bot] opened #472 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `6.7.0` to `6.8.0`.

🚨 [View failing branch](https://github.com/tasitlabs/tasit/compare/develop...tasitlabs:greenkeeper%2Fdefault%2Feslint-config-prettier-6.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2020-04-20 21:22] #448 closed

[2020-04-20 21:22] #449 closed

[2020-04-20 21:22] #450 closed

[2020-04-20 21:22] #451 closed

[2020-04-20 21:22] #452 closed

[2020-04-20 21:22] #453 closed

[2020-04-20 21:22] #454 closed

[2020-04-20 21:22] #455 closed

[2020-04-20 21:22] #456 closed

[2020-04-20 21:22] #457 closed

[2020-04-20 21:22] #458 closed

[2020-04-20 21:22] #466 closed

[2020-04-20 21:22] #468 closed

[2020-04-20 21:22] #469 closed

[2020-04-20 21:22] #470 closed

[2020-04-20 21:22] #471 closed

[2020-04-20 21:22] #472 closed

[2020-04-21 14:47] #358 closed

[2020-04-21 14:50] #398 closed

[2020-04-21 16:44] pcowgill opened #477 "Consider removing NativeBase"

[2020-04-21 20:27] #441 closed

[2020-04-21 22:03] pcowgill opened #478 "During account upgrade into contract-based account, use a hook to show loading state"

[2020-07-09 00:42] pcowgill opened #497 "Release a build of the account recovery app"

[2020-07-11 09:26] pcowgill opened #508 "Use loading animation"

[2020-07-11 09:28] pcowgill commented on #415
This is done now.

[2020-07-11 09:29] #415 closed